.accordion {
    transition: 0.4s;
    * {
        pointer-events: none;
    }
}
.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
#formSearch {
    width: 100%;
    margin: 10px 0;
    i {
        transition: all 0.4s;
    }
    i.pi-chevron-up {
        margin-top: 5px;
    }
    .active {
        i.pi {
            transform: rotate(180deg);
        }
    }
}
:host .btn {
    border-radius: unset;

}

table {
    td {
        text-align: center;
        vertical-align: middle;
    }
    label {
        margin-bottom: 0;
    }
}
