<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3><span [translate]="'courseManagement.home.title'">Users</span></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <form id="formSearch" class="mx-3 shadow-sm bg-light rounded" action="">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary jh-create-entity ml-3"
                                                    [routerLink]="['new']">
                                                    <i class="fa fa-plus"></i>
                                                <span [translate]="'courseManagement.home.createLabel'">Tạo mới</span>
                                            </button>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="javascript:void(0)" class="accordion" (click)="toggleAccordian($event)">
                                                <div class="text-right py-3 pr-4">
                                                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div> 
                                    <div class="panel" [ngClass]="{'border-top border-secondary': isActive}" hide="!isActive">
                                        <div class="row justify-content-center pt-2">
                                            <fieldset class="form-group col-md-5">
                                                <div class="input-group">
                                                    <input [(ngModel)]="keyword" name="keyword" placeholder="Mã / Tên khóa học" class="form-control" type="text">
                                                </div>
                                            </fieldset>
                                            <div class="form-group col-md-5">
                                                <select [(ngModel)]="activated" name="activated" class="form-control">
                                                    <option value="null">Trạng thái</option>
                                                    <option value="true">Kích hoạt</option>
                                                    <option value="false">Khóa</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <select [(ngModel)]="courseCategoryCode" name="courseCategoryCode" class="form-control" (change)="this.courseTopicCode = null;selectCourseTopics()">
                                                    <option value="null" selected>Danh mục</option>
                                                    <option *ngFor="let c of courseCategorys" [value]="c.code">{{c.name}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <select [(ngModel)]="courseTopicCode" name="courseTopicCode" class="form-control">
                                                    <option value="null" selected>Đề tài</option>
                                                    <option *ngFor="let t of courseTopics" [value]="t.code">{{t.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="offset-md-4 col-sm-4 text-center">
                                                <button (click)="search()" class="btn btn-primary mb-2">
                                                        <i class="fa fa-search"></i>
                                                    <span>Tìm kiếm</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <br/>
                            <table class="table table-striped text-center">
                                <thead>
                                <tr jhiSort>
                                    <th jhiSortBy="id">
                                        <span [translate]="'global.field.id'">ID</span>
                                    </th>
                                    <th jhiSortBy="code">
                                        <span [translate]="'courseManagement.code'">code</span>
                                    </th>
                                    <th jhiSortBy="email">
                                        <span [translate]="'courseManagement.name'">name</span>
                                    </th>
                                    <th><span [translate]="'courseManagement.active'">Active</span></th>
                                    <th><span [translate]="'courseManagement.topic'">Topic</span></th>
                                    <th [translate]="'courseManagement.editMore'">editMore</th>
                                    <th [translate]="'courseManagement.action'">Action</th>
                                </tr>
                                </thead>
                                <tbody *ngIf="courses">
                                <tr *ngFor="let course of courses; trackBy: trackIdentity">
                                    <td><a [routerLink]="[course.code, 'view']">{{course.id}}</a></td>
                                    <td>{{course.code}}</td>
                                    <td>{{course.name}}</td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" (click)="setActive(course, true)"
                                                *ngIf="!course.activated"
                                                [translate]="'courseManagement.deactivated'">Deactivated
                                        </button>
                                        <button class="btn btn-success btn-sm" (click)="setActive(course, false)"
                                                *ngIf="course.activated"
                                                
                                                [translate]="'courseManagement.activated'">Activated
                                        </button>
                                    </td>
                                    <td>
                                        {{course.topicDTO.name}} - {{course.topicDTO.courseCategoryDTO.name}}
                                    </td>
                                    <td class="text-center">
                                            <div class="btn-group flex-btn-group-container">
                                                <button type="submit"
                                                        [routerLink]="[ course.code, 'lecture']"
                                                        class="btn btn-success btn-sm">
                                                    <i class="fa fa-plus"></i>
                                                    <span class="d-none d-md-inline" [translate]="'courseManagement.chapter'">chapter</span>
                                                    <strong>({{course.totalLecture}})</strong>
                                                </button>
                                                <button type="submit"
                                                        [routerLink]="[ course.code, 'objectives']"
                                                        class="btn btn-info btn-sm color-white">
                                                    <i class="fa fa-plus"></i>
                                                    <span class="d-none d-md-inline" [translate]="'courseManagement.objective.name'">name</span>
                                                    <strong>({{course.totalObjective}})</strong>
                                                </button>
                                                <button type="submit"
                                                        [routerLink]="[ course.code, 'requireds']"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa fa-plus"></i>
                                                    <span class="d-none d-md-inline" [translate]="'courseManagement.required.name'">requiredName</span>
                                                    <strong>({{course.totalRequirement}})</strong>
                                                </button>
                                            </div>
                                        </td>
                                    <td class="text-center">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    [routerLink]="[ course.code, 'view']"
                                                    class="btn btn-info btn-sm color-white">
                                                <i class="fa fa-eye"></i>
                                                <span class="d-none d-md-inline" [translate]="'entity.action.view'">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="[ course.code, 'edit']"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-primary btn-sm">
                                                <i class="fa fa-pencil"></i>
                                                <span class="d-none d-md-inline" [translate]="'entity.action.edit'">Edit</span>
                                            </button>
                                            <button type="button" (click)="deleteCourse(course)"
                                                    class="btn btn-danger btn-sm">
                                                <i class="fa fa-times"></i>
                                                <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="courses && courses.length" class="w-100">
                            <div class="row justify-content-center">
                            </div>
                            <div class="row justify-content-center">
                                <pagination [totalItems]="totalItems" [(ngModel)]="page" (pageChanged)="loadPage($event)" [maxSize]="5" [boundaryLinks]="true"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
