<div class="animated fadeIn">
        <div>
            <div class="">
                <div class="row m-0">
                    <div class="input-group offset-md-6 col-md-6 pr-0">
                        <input [(ngModel)]="keyword" name="keyword" placeholder="Mã / Tên khóa học" class="form-control rounded-0" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="button" (click)="search()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
    
                </div>
                <br/>
                <div>
                    <table class="table table-bordered" style="position: relative;" [el-loading]="loading">
                        <thead class="thead-dark text-center">
                            <tr>
                                <th *ngIf="currentAccount?.roleBOs.indexOf('ROLE_ADMIN') > -1">Duyệt</th>
                                <th>Trạng thái</th>
                                <th [translate]="'courseManagement.code'">code</th>
                                <th [translate]="'courseManagement.name'">name</th>
                                <th [translate]="'courseManagement.enrolled'">enrolled</th>
                                <th [translate]="'courseManagement.active'">Active</th>
                                <th [translate]="'courseManagement.editMore'">editMore</th>
                                <th [translate]="'courseManagement.action'">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="courses?.length === 0">
                            <tr>
                                <td colspan="7" class="text-center">Bạn chưa tạo khóa học.</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="courses?.length > 0" class="text-center">
                            <tr *ngFor="let course of courses;">
                                <td class="btn-action">
                                    <div *ngIf="currentAccount?.roleBOs.indexOf('ROLE_ADMIN') > -1 && course?.ticketFollowBy === currentAccount?.username
                                            && course?.ticketStatus === CHECKING && course?.status === CHECKING">
                                        <button type="button" class="mb-1 btn btn-sm btn-success">Chấp nhận</button> <br>
                                        <button type="button" class="btn btn-sm btn-danger">Loại bỏ</button>
                                    </div>
                                </td>
                                <td>
                                    <button *ngIf="currentAccount?.username === course?.createdBy && statusNeedCheck.indexOf(course.status) > -1" type="button" class="btn btn-sm btn-info" (click)="setStatus(course?.code)">Xét duyệt</button>
                                    <strong *ngIf="statusNeedCheck.indexOf(course.status) === -1"><span class="badge badge-primary">{{course?.status | statusText}}</span></strong>
                                    <strong *ngIf="currentAccount?.username !== course?.createdBy && statusNeedCheck.indexOf(course.status) === -1"><span class="badge badge-primary">{{course?.status | statusText}}</span></strong>
                                </td>
                                <td>{{course.code}}</td>
                                <td>{{course.name}}</td>
                                <td>{{course.totalUserEnroll}}</td>
                                <td>
                                    <label class="switch switch-label switch-success">
                                        <input type="checkbox" class="switch-input" name="activated" [(ngModel)]="course.activated" (change)="setActive(course)">
                                        <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                                    </label>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit" [routerLink]="[ course.code, 'lectures']" class="btn btn-success btn-sm">
                                            <span class="d-none d-md-inline" [translate]="'courseManagement.chapter'">chapter</span>
                                            <strong>({{course.totalLecture}})</strong>
                                        </button>
                                        <button type="submit" [routerLink]="[ course.code, 'objectives']" class="btn btn-info btn-sm color-white">
                                            <span class="d-none d-md-inline" [translate]="'courseManagement.objective.name'">name</span>
                                            <strong>({{course.totalObjective}})</strong>
                                        </button>
                                        <button type="submit" [routerLink]="[ course.code, 'requireds']" class="btn btn-primary btn-sm">
                                            <span class="d-none d-md-inline" [translate]="'courseManagement.required.name'">requiredName</span>
                                            <strong>({{course.totalRequirement}})</strong>
                                        </button>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group flex-btn-group-container">
                                        <!-- <button type="submit" [routerLink]="[ course.code, 'view']" class="btn btn-info btn-sm color-white">
                                            <span class="d-none d-md-inline" [translate]="'entity.action.view'">View</span>
                                        </button> -->
                                        <button type="submit" [routerLink]="[ 'edit', course.code]" queryParamsHandling="merge" class="btn btn-primary btn-sm" *ngIf="statusCanNotEditAndDelete.indexOf(course.status) === -1">
                                            <span class="d-none d-md-inline" [translate]="'entity.action.edit'">Edit</span>
                                        </button>
                                        <button type="button" (click)="deleteCourse(course)" class="btn btn-danger btn-sm" *ngIf="statusCanNotEditAndDelete.indexOf(course.status) === -1">
                                            <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-end w-100" *ngIf="courses && courses?.length > 0">
                <p-paginator [first]="(page - 1) * itemsPerPage" [totalRecords]="totalItems" [rows]="itemsPerPage" (onPageChange)="loadPage($event)"></p-paginator>
            </div>
        </div>
    </div>
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>