<div class="animated fadeIn" style="margin-bottom: 100px;">
        <div>
           <form style="position: relative;" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" [el-loading]="loading">
           <div class="row justify-content-between m-0">
              <div class="col-12">
                 <div>
                    <div class="form-group" [hidden]="!course.id">
                       <input type="hidden" class="form-control" name="id" formControlName="id" readonly>
                    </div>
                    <div class="row">
                       <fieldset class="form-group col-md-6" *ngIf="course.id">
                          <label [translate]="'courseManagement.code'">code</label>
                          <div class="input-group">
                             <input class="form-control" [placeholder]="'courseManagement.create.placeholder.code' | translate" id="name" name="code" type="text" formControlName="code" [readOnly]="true">
                          </div>
                       </fieldset>
                       <fieldset class="form-group" [ngClass]="course.id ? 'col-md-6' : 'col-md-12'">
                          <label [translate]="'courseManagement.name'">name</label>
                          <div class="input-group">
                             <input class="form-control" [placeholder]="'courseManagement.create.placeholder.name' | translate" id="name" name="name" type="text" formControlName="name">
                          </div>
                          <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched) || isSaving && f['name'].errors">
                             <small class="form-text text-danger" *ngIf="f['name'].errors.required" [translate]="'entity.validation.required'">
                             This field is required.
                             </small>
                          </div>
                       </fieldset>
                    </div>
                    <div class="row">
                       <div class="form-group col-md-6">
                          <label [translate]="'courseManagement.level'">level</label>
                          <ng-select [items]="levels" bindValue="code" bindLabel="name" [multiple]="false" placeholder="Chọn trình độ..." [searchable]="false" formControlName='level' class="form-control" required>
                          <ng-template ng-option-tmp let-item="item">
                             {{item.name}}
                          </ng-template>
                          </ng-select>
                          <div *ngIf="editForm.get('level').invalid && (editForm.get('level').dirty || editForm.get('level').touched) || isSaving && f['level'].errors">
                             <small class="form-text text-danger" *ngIf="f['level'].errors.required" [translate]="'entity.validation.required'">
                             This field is required.
                             </small>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="form-group col-md-6">
                          <label [translate]="'courseManagement.category'">category</label>
                          <ng-select [items]="courseCategorys" bindValue="code" bindLabel="name" [multiple]="false" placeholder="Chọn danh mục..." [searchable]="false" (change)="selectCourseTopics()" formControlName='courseCategory' class="form-control" required>
                          <ng-template ng-option-tmp let-item="item">
                             {{item.name}}
                          </ng-template>
                          </ng-select>
                       </div>
                       <div class="form-group col-md-6">
                          <label [translate]="'courseManagement.topic'">topic</label>
                          <ng-select [items]="courseTopics" bindValue="code" bindLabel="name" [multiple]="false" placeholder="Chọn đề tài..." [searchable]="false" formControlName='courseTopic' class="form-control" required>
                          <ng-template ng-option-tmp let-item="item">
                             {{item.name}}
                          </ng-template>
                          </ng-select>
                          <div *ngIf="editForm.get('courseTopic').invalid && (editForm.get('courseTopic').dirty || editForm.get('courseTopic').touched) || isSaving && f['courseTopic'].errors">
                             <small class="form-text text-danger" *ngIf="f['courseTopic'].errors.required" [translate]="'entity.validation.required'">
                             This field is required.
                             </small>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <fieldset class="form-group col-md-12">
                          <label [translate]="'courseManagement.sortDescription'">sortDescription</label>
                          <div class="input-group">
                             <input class="form-control" [placeholder]="'courseManagement.create.placeholder.sortDescription' | translate" id="sortDescription" name="sortDescription" type="text" formControlName="sortDescription">
                          </div>
                       </fieldset>
                    </div>
                    <div class="row py-3"></div>
                    <div class="row selectFile">
                       <div class="col-md-6">
                          <div class="col-md-12 text-center" *ngIf="imageUrl !=null">
                             <img class="img-fluid" width="150" src="{{imageUrl}}" alt="Ảnh đại diện" />
                          </div>
                          <div class="col-md-12 text-center mt-3">
                             <span class="btn btn-success btn-file">
                             <strong [translate]="'courseManagement.image'"></strong>
                             <i class="ml-1 fa fa-camera" aria-hidden="true"></i>
                             <input type="file" accept="image/x-png,image/jpeg" class="form-control" name="imageFile" id="fileImage" (change)="onImageChange($event)">
                             </span>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="col-md-12 text-center" *ngIf="imageUrl !=null">
                             <img *ngIf="!selectedVideos && !course.id" class="img-fluid" width="150" src="{{videoUrl}}" alt="Ảnh đại diện" />
                             <div class="fileName" *ngIf="selectedVideos">{{videoUrl}}</div>
                             <video *ngIf="course.id && !selectedVideos" src="{{course.videoUrl}}" width="150" height="120" controls></video>
                          </div>
                          <div class="col-md-12 text-center mt-3">
                             <span class="btn btn-success btn-file">
                             <strong [translate]="'courseManagement.video'"></strong>
                             <i class="ml-1 fa fa-camera" aria-hidden="true"></i>
                             <input type="file" accept="video/*" class="form-control" name="imageFile" id="fileVideo" (change)="onVideoChange($event)">
                             </span>
                          </div>
                       </div>
                    </div>
                    <div class="row py-3"></div>
                    <div class="row">
                       <div class="form-group ckedit w-100">
                          <label [translate]="'courseManagement.description'">description</label>
                          <p-editor formControlName='description' [placeholder]="'courseManagement.create.placeholder.description' | translate" [style]="{'height':'200px'}"></p-editor>
                          <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched) || isSaving && f['description'].errors">
                             <small class="form-text text-danger" *ngIf="f['description'].errors.required" [translate]="'entity.validation.required'">
                             This field is required.
                             </small>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row justify-content-end">
                    <button type="button" class="btn btn-secondary" (click)="previousState()">
                    <span [translate]="'entity.action.cancel'">Cancel</span>
                    </button>
                    <button type="submit" class="ml-2 btn btn-primary" [disabled]="isDisabledSave">
                    <span [translate]="'entity.action.save'">Save</span>
                    </button>
                 </div>
              </div>
           </div>
           </form>
        </div>
     </div>
     <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
     <p-toast></p-toast>