<div class="course-reviews">
    <div class="reviews-container">
      <div class="reviews-title">
          Đánh giá của học sinh
      </div>
      <div class="reviews-content">
        <div class="reviews-content-rating">
          <div class="reviews-content-sumary">
            <div class="reviews-content-sumary-avg">
                <div class="reviews-content-sumary-avg-number">{{rateAvg}}</div>
                <div class="reviews-content-sumary-avg-star">
                    <i class="fa fa-star" *ngFor="let i of [].constructor(rateAvgRound ? rateAvgRound : 0)"></i><i class="fa fa-star-o" *ngFor="let j of [].constructor(5-(rateAvgRound ? rateAvgRound : 0))"></i>
                </div>
                <div>Đánh giá trung bình</div>
            </div>
            <div class="reviews-content-sumary-rate">
              <button class="btn-link reviews-content-sumary-rate-row"
               *ngFor="let rate of rates; let i=index"
                [ngClass]="{'deactive': starSelected.indexOf(i+1) > -1}"
                (click)="setDeactive(i)">
                <div class="reviews-content-sumary-rate-gauge">
                  <div class="reviews-content-sumary-rate-gauge-bg">
                    <div class="reviews-content-sumary-rate-gauge-fill" [ngStyle]="{'width': rates[4-i]?.percent + '%'}"></div>
                  </div>
                </div>
                <div class="reviews-content-sumary-rate-star">
                    <i class="fa fa-star" *ngFor="let j of [].constructor(5-i)"></i><i class="fa fa-star-o" *ngFor="let j of [].constructor(i)"></i>
                </div>
                <div class="reviews-content-sumary-rate-rating"><span>{{rates[4-i]?.percent}}%</span></div>
              </button>
            </div>
          </div>
        </div>
        <div class="reviews-content-sub-title">
            <div class="reviews-content-sub-title-text">
              <span>Đánh giá</span>
            </div>
            <div class="reviews-content-sub-title-form-search">
              <form>
                <div class="input-group">
                  <input type="text" name="keyword" class="form-control" (keyup.enter)="search()" placeholder="Tìm kiếm" [(ngModel)]="keyword">
                  <div class="input-group-btn">
                    <button type="button" (click)="search()" class="btn btn-sm btn-secondary"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
        </div>
        <div class="reviews-content-review-list" *ngIf="reviews">
          <div class="reviews-content-review-item" *ngFor="let review of reviews; let i=index;">
            <div class="reviews-content-review-item-left">
              <div class="avatar-circle" [ngStyle]="{'background-color': colors[i%4]}">
                <span class="initials">{{review.createdBy | avatarText}}</span>
              </div>
              <div class="reviews-content-review-item-detail">
                <div class="reviews-content-review-item-detail-username">{{review.createdBy}}</div>
                <div class="reviews-content-review-item-detail-created">{{review.createdAt | date:'dd/MM/yy'}}</div>
              </div>  
            </div>
            <div class="reviews-content-review-item-right">
                <div class="reviews-content-review-item-star">
                    <i class="fa fa-star" *ngFor="let i of [].constructor(review.rate)"></i><i class="fa fa-star-o" *ngFor="let j of [].constructor(5 - review.rate)"></i>
                </div>
                <div class="reviews-content-review-comment-content">
                  <p innerHTML="{{ review.content | highlight : keyword}}"></p>
                </div>
            </div>
          </div>
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <span class="align-self-center flex-grow-1"></span>
                <pagination [totalItems]="totalItems" [(ngModel)]="+page" [itemsPerPage]="itemsPerPage" (pageChanged)="loadPage($event)" [maxSize]="5" [boundaryLinks]="true"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
        </div>
      </div>
    </div>
  </div>