.form-wrapper {
    background: #fff;
    position: relative;
    min-height: 600px;
    border: 1px solid #dedfe0;
    h2 {
        color: #29303b;
        text-align: center;
        line-height: 1!important;
        font-weight: 700!important;
        font-size: 22px;
        margin: 20px 0 3px;
    }
}
.manage-fields-wrapper {
    box-shadow: 0 1px 0 0 #dedfe0, 0 -1px 0 0 #dedfe0;
    padding: 5px 0;
}