.form-wrapper {
    background: #fff;
    position: relative;
    min-height: 600px;
    border: 1px solid #dedfe0;
    h2 {
        color: #29303b;
        text-align: center;
        line-height: 1!important;
        font-weight: 700!important;
        font-size: 22px;
        margin: 20px 0 3px;
    }
}
.manage-fields-wrapper {
    box-shadow: 0 1px 0 0 #dedfe0, 0 -1px 0 0 #dedfe0;
    padding: 5px 0;
}
.el-upload-dragger {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    position: relative;
    overflow: hidden;
    .el-upload {
        display: inline-block;
        text-align: center;
        outline: 0;
        i {
            font-size: 67px;
            color: #b4bccc;
            margin: 40px 0 16px;
            line-height: 50px;
        }
        .el-upload__text {
            color: #5a5e66;
            font-size: 14px;
            text-align: center;
        }
        .el-upload__input {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            cursor: pointer;
        }
    }
}