<banner-image
 [imageSrc]="'../../../assets/images/main/02_about_us_Banner.png'"
 [title]="'Thông tin cá nhân'"
 [data]="currentRouter.url.includes('/instructor/') ? data : data1"></banner-image>
<div class="container my-5">
    <div>
        <div id="main-section" class="row">
            <div class="col-md-3" style="padding-right: 0;">
                <div class="side-nav db-sm">
                    <div id="user-short">
                        <div class="fx-c">
                            <div aria-label="Sfsf Asffas" class="user-avatar">
                                <div class="user-avatar__inner fx-c" *ngIf="!currentAccount?.imageUrl">
                                    <span class="user-initials">{{currentAccount?.name | avatarText}}</span>
                                </div>
                                <div class="user-avatar__inner fx-c" *ngIf="currentAccount?.imageUrl">
                                    <img width="120" height="120" style="border-radius: 50%;" src="{{currentAccount?.imageUrl}}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="tooltip-container">
                            <h2>{{currentAccount?.name}}</h2>
                        </div>
                    </div>
                    <ul *ngIf="!currentRouter.url.includes('/instructor/')">
                        <li class="">
                            <a href="/user/sfsf-asffas/" >
                            Hồ sơ công khai
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" [routerLink]="[ '/user/account/edit-profile' ]" [routerLinkActive]="['on']">
                            Hồ sơ
                            </a>
                        </li>
                    </ul>
                    <ul *ngIf="currentRouter.url.includes('/instructor/')">
                        <li class="">
                            <a [routerLink]="[ '/home' ]">Trang chủ</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" [routerLink]="[ '/instructor/courses' ]">
                            Quản lý khóa học
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9" style="padding-left: 0;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
