.what-you-get {
    background-color: #f9f9f9;
    border: 1px solid #dedfe0;
    padding: 10px 15px;
    .what-you-get-content {
        margin-bottom: 5px;
        .what-you-get-title {
            font-size: 22px;
            font-weight: 600;
            margin: 0 0 10px;
        }
    }
    .what-you-get-items {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        .what-you-get-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            width: 100%;
        }
        .what-you-get-item-columns {
            width: 45%;
        }
    }
    .what-you-get-icon {
        align-self: flex-start;
        color: #a1a7b3;
        font-size: 16px;
        margin-right: 15px;
        margin-top: 2px;
    }
    .what-you-get-text {
        font-size: 15px;
    }
}
.udi {
    vertical-align: -8%;
}
.udi-check:before {
    content: "\F00C";
}