::ng-deep #banner {
    .ui-carousel-content {
        display: block;
        padding: 0;
        .ui-carousel-container {
            display: block;
            padding: 0;
            > button {
                position: absolute;
                top: 50%;
                z-index: 1;
            }
            button.ui-carousel-prev {
                left: 0;
            }
            button.ui-carousel-next {
                right: 0;
            }
        }
    }
} 
::ng-deep .slider_about {
    .ui-carousel-dots-container {
        display: none;
    }
}
::ng-deep .teacher-slide {
    .ui-carousel-dots-container {
        display: none;
    }
    .ui-carousel-item {
        overflow: unset;
    }
}
::ng-deep .our_course {
    .ui-carousel-dots-container {
        display: none;
    }
}