<div class="course-discovery-unit">
    <a href="javascript:void(0)" target="_self" class="course-card" [routerLink]="[ '/course', course?.code ]">
        <div class="course-card--header">
            <img class="course-card--image" alt="" width="240" height="135" [src]="course?.imageUrl">
        </div>
        <div class="course-card--body">
            <div>
            <div class="course-card-title">{{course?.name}}</div>
            <span class="course-card-instructor-title">{{course?.createdBy}}</span>
            </div>
            <div class="fx-jsb">
                <div class="col-lg-12 pl-0">
                    <div class="pro-rating">
                        <i class="fa fa-star" *ngFor="let i of [].constructor(rateAvg)"></i> 
                        <i class="fa fa-star-o" *ngFor="let j of [].constructor(5 - rateAvg)"></i> 
                        <span class="font-weight-bold mx-1">{{course?.rateAvg}}</span> <span>({{course?.totalUserEnroll}})</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>