<!--********************
 navbar-part start
********************-->
<nav class="bg-light">
    <div class="header-container">
        <div class="header-logo mr-4">
            <a href="#">
                <img src="assets/images/logo-jhipster.png" alt="logo">
            </a>
        </div>
        <div class="header-left">
            <p-tieredMenu  #menu [popup]="true" [model]="items"></p-tieredMenu>
            <div  class="dropdown">
                <a class="text-center btn btn-md btn-primary dropdown-toggle"  (click)="menu.toggle($event)">
                    Explore
                </a>
            </div>
            <div class="header-search">
                <form>
                    <div class="input-group">
                        <input [(ngModel)]="keyword" (keyup.enter)="search()" name="keyword" type="text" class="form-control" placeholder="What do you want to learn?"/>
                        <div class="input-group-prepend">
                            <span (click)="search()" class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="header-right">
            <div class="header-account">
                <user-header></user-header>
            </div>
        </div>
    </div>
</nav>
<!--********************
 navbar-part end
********************-->