.header-container {
    display: flex;
    justify-content: space-between;
    background: inherit;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 0 0 0 20px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    .dropdown-toggle {
        &::after {
            vertical-align: 0.155rem;
        }
    }
    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: flex-start;
        img {
            width: 127px;
            height: 32px;
        }
    }
    .header-left {
        flex: 1;
        min-width: 1px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .header-search {
            margin: 0 25px 0 50px;
            max-width: 630px;
            width: 100%;
        }
        .dropdown > a {
            background: #51a1f6;
            border-radius: unset;
            color: white;
        }
    }
    .header-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .driver {
            height: 60%;
            border-left: 1px solid #dedfe0;
            margin: 0 0 0 8px;
        }
        a {
            color: #505763;
        }
        .header-account {
            width: 200px;
        }
    }
}
::ng-deep .header-left {
    .ui-tieredmenu {
        top: 52.7619px !important;
    }
}
:host ::ng-deep .ui-autocomplete-input {
    border-radius: unset;
    width: 100%;
    border-right: 0;
    padding-left: 10px;
}
:host p-autocomplete {
    flex-grow: 1;
}
:host ::ng-deep mark {
    background: none;
    font-weight: bold;
    padding: 0;
}