<div class="lecture-content">
  <div>
    <div class="lecture-header">
      <div class="lecture-content-row">
        <div class="lecture-header-dashboard">
          <a href="javascript:void(0)" [routerLink]="[ '/home' ]"><img class="udemy-logo" alt="udemy-logo" width="110" height="32" src="assets/images/download.png"></a>
          <div class="lecture-header-vertical"></div>
          <div class="lecture-header-title">
            <a href="javascript:void(0)" class="header-link" [routerLink]="[ '../../']">
              <span>{{lectureSelected?.name}}</span>
            </a>
          </div>
          <div style="width: 15%;">
              <p-progressBar [value]="getPercentCompleted()"></p-progressBar>
          </div>
          <div class="lecture-header-user">
            <div class="lecture-header-rate" (click)="openReviewModal()">
              <span><i class="fa fa-star"></i></span>
              <span class="ml-1 font-weight-normal">Đánh giá khóa học</span>
            </div>
            <div class="lecture-header-user-label">
                <user-header></user-header>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="lecture-container" style="position: relative;" [el-loading]="isLoadingLecture">
      <button class="open-course-content" title="OPEN COURSE CONTENT" [hidden]="!expand" (click)="expand = false">
        <span><i class="fa fa-arrow-left"></i></span>
      </button>
      <div class="lecture-container-content" [ngStyle]="{'width': expand ? '100%' : '75%'}">
        <div class="lecture-container-content-body">
          <div class="video-play" *ngIf="lectureSelected?.type === 'LECTURE_VIDEO'">
            <video *ngIf="lectureSelected?.videoUrl" src="{{lectureSelected?.videoUrl}}" controls></video>
          </div>

          <div class="quiz" *ngIf="lectureSelected?.type === 'LECTURE_QUIZ'" style="position: relative; min-height: 460px;" [el-loading]="isChecking">
            <div *ngIf="lectureCompleted && !isOpenQuiz" style="position: absolute; top: 50%; text-align: center;">
                <p class="text-danger my-3">Kết quả gần nhất: {{lectureCompleted?.completedRate}}%</p>
                <button class="btn btn-sm btn-primary mr-2" (click)="isOpenQuiz = true">Bắt đầu lại</button>
            </div>
            <div *ngIf="!lectureCompleted && !isOpenQuiz" style="position: absolute; top: 50%; text-align: center;">
              <p class="text-danger my-3">Bài kiểm tra cần đạt {{lectureSelected?.requiredCompleteRate}}%</p>
              <button class="btn btn-sm btn-primary mr-2" (click)="isOpenQuiz = true">Bắt đầu</button>
          </div>
            <div *ngIf="isOpenQuiz == true">
              <div class="quiz-header">
                <span>Câu {{page+1}}: </span>
                <div class="quiz-header-content">
                  <p [ngClass]="{'text-danger': listQuestionIncorrect.indexOf(lectureSelected?.questions[page]?.id) > -1}" [innerHTML]="lectureSelected?.questions[page]?.content"></p>
                </div>
              </div>
              <ul>
                <li *ngFor="let answer of lectureSelected?.questions[page]?.answers; let i=index">
                  <div class="quiz-answer">
                    <label (click)="answerChecked[page].id = answer.id">
                      <div class="pos-r">
                          <input name="answer" data-index="0" type="radio" [checked]="answerChecked[page].id === answer.id">
                          <span class="radio-label">&#8203;</span>
                      </div>
                      <div class="quiz-answer-content">
                        <div> {{answer?.content}}</div>
                      </div>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
            <footer *ngIf="isOpenQuiz == true">
              <div class="footer-left">
                <span>Câu {{page + 1}} trên {{lectureSelected?.questions?.length}}</span>
              </div>
              <div class="footer-right">
                <span class="text-danger mr-3" [hidden]="!errorAnswer">Vui lòng trả lời hết câu hỏi!</span>
                <span class="text-danger mr-3" [hidden]="listQuestionIncorrect.length === 0">Bạn sai {{listQuestionIncorrect.length}}/{{lectureSelected.questions.length}} câu. Kiểm tra lại!</span>
                <span class="mr-2" *ngIf="page > 0">
                  <button class="btn btn-sm btn-tertiary" (click)="page = page - 1">Quay lại</button>
                </span>
                <span class="mr-2" *ngIf="page < lectureSelected?.questions?.length - 1">
                  <button class="btn btn-sm btn-tertiary" (click)="page = page + 1">Tiếp theo</button>
                </span>
                <button class="btn btn-sm btn-primary mr-2" (click)="checkAnswer()">Kiểm tra</button>
                <div class="tooltip-container">
                  <button class="btn btn-text btn-sm mr-2" (click)="expand = !expand"><i class="fa fa-arrows-h" aria-hidden="true"></i></button>
                </div>
              </div>
            </footer>
            <footer *ngIf="!isOpenQuiz">

              <div class="footer-right">
                <div class="tooltip-container">
                  <button class="btn btn-text btn-sm mr-2" (click)="expand = !expand"><i class="fa fa-arrows-h" aria-hidden="true"></i></button>
                </div>
              </div>
            </footer>
          </div>
        </div>
        <div class="lecture-container-content-description">
          <div class="lecture-container-content-description-row">
            <div class="my-5">
                <p-tabView (onChange)="onTabChange($event)">
                    <p-tabPanel header="Tổng quan">
                      <div style="min-height: 400px;"></div>
                        <!-- <div class="description-dashboard-content">
                          <div [ngClass]=" descriptionMore ? 'collape-description-more' : 'collape-description'" #more>
                            <div class="description-dashboard-content-body">
                              <div class="lecture-overview-header">
                                  <div class="font-heading-lg mb-space-sm">Thông tin khóa học</div>
                                  <p>{{course?.sortDescription}}</p>
                              </div>
                              <div class="lecture-overview-row">
                                <div>Thông số</div>
                                <div>
                                  <div>Mức độ: {{course?.levelName}}</div>
                                  <div>Học viên: {{course?.totalUserEnroll}}</div>
                                  <div>Languages: English</div>
                                </div>
                                <div>
                                  <div>Lectures: {{course?.lectures.length - chapters?.length}}</div>
                                  <div *ngIf="course?.lectures">Video: {{totalTimeEstimate()}} phút</div>
                                </div>
                              </div>
                              <div class="lecture-overview-row">
                                <div>Miêu tả</div>
                                <div class="p-magrin" style="width: 60%;" [innerHTML]="course?.description">
                                </div>
                              </div>
                            </div>
                            <span *ngIf="!descriptionMore && elementView.nativeElement.offsetHeight >= 260" class="wrapper-more-btn">
                              <button (click)="descriptionMore = true" class="more-btn btn-sm btn btn-link">+ See more</button>
                            </span>
                          </div>
                        </div> -->
                    </p-tabPanel>
                    <p-tabPanel header="Hỏi đáp">
                        <div class="description-dashboard-content mt-3" *ngIf="isDetailComment">
                          <a href="javascript:void(0)" class="p-2 text-info" role="button" (click)="isDetailComment = false; isEditComment = false;">
                            Quay lại
                          </a>
                          <div class="mt-3">
                            <div class="question-list">
                              <div class="question-list-item border-0">
                                <div class="avatar-circle" [ngStyle]="{'background-color': colors[2]}">
                                  <span class="initials">{{currentComment?.createdBy | avatarText}}</span>
                                </div>
                                <div class="question-list-item-container">
                                  <a href="javascript:void(0)" class="mb-0" *ngIf="!isEditComment">
                                    <div class="question-text-content">
                                      <div class="font-weight-bold">{{currentComment?.title}}</div>
                                      <div class="font-text-xs">
                                          <a href="javascript:void(0)" class="text-left text-info">{{currentComment?.createdBy}} · <span>{{currentComment?.createdAt | timeAgo}}</span></a>
                                      </div>
                                      <div class="" [innerHTML]="currentComment?.content"></div>
                                    </div>
                                    <div class="question-response-count " *ngIf="currentAccount?.id === currentComment?.createdById">
                                      <span (click)="editCmt.toggle($event)" class="dropdown-toggle"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                                      <p-overlayPanel #editCmt>
                                          <ul role="menu" >
                                            <li role="menuitem"><a class="dropdown-item" (click)="openEditComment()" href="javascript:void(0)">Sửa</a></li>
                                            <li role="menuitem"><a class="dropdown-item" (click)="openDeleteComment()" href="javascript:void(0)">Xóa</a></li>
                                        </ul>
                                      </p-overlayPanel>
                                    </div>
                                  </a>
                                  <div *ngIf="isEditComment">
                                    <div class="form-group mt-2">
                                        <label for="title">Tiêu đề</label>
                                        <input type="text" id="title" class="form-control" placeholder="Nhập tiêu đề câu hỏi" [(ngModel)]="comment.title">
                                      </div>
                                      <label for="content">Nội dung</label>
                                      <p-editor [(ngModel)]="comment.content" [placeholder]="'Nhập nội dung...'" [style]="{'height':'200px'}"></p-editor>
                                      <div class="d-flex justify-content-end row mt-2">
                                        <button class="btn btn-sm btn-default" (click)="isEditComment = false">Quay lại</button>
                                        <button class="btn btn-sm btn-primary mx-2" [disabled]="comment.title === ''" (click)="updateComment()">Lưu</button>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ml-3 question-list" *ngIf="currentComment?.replies?.length > 0">
                              <div class="question-list-item" *ngFor="let rep of currentComment?.replies; let i=index;">
                                <div class="avatar-circle" [ngStyle]="{'background-color': colors[i%4]}">
                                  <span class="initials">{{rep?.createdBy | avatarText}}</span>
                                </div>
                                <div class="question-list-item-container">
                                  <a href="javascript:void(0)">
                                    <div class="question-text-content">
                                      <a href="javascript:void(0)" class="question-content-title text-info mb-0" >{{rep?.createdBy}} · <span>{{rep?.createdAt | timeAgo}}</span> </a>
                                      <div *ngIf="!rep?.isEdit" [innerHTML]="rep?.content"></div>
                                      <p-editor *ngIf="rep?.isEdit" [(ngModel)]="comment.content" [placeholder]="'Nhập nội dung...'" [style]="{'height':'200px'}"></p-editor>
                                      <div *ngIf="rep?.isEdit" class="d-flex justify-content-end row mt-2">
                                        <button class="btn btn-sm btn-default" (click)="rep.isEdit = false">Quay lại</button>
                                        <button class="btn btn-sm btn-primary mx-2" (click)="updateComment();rep.isEdit = false">Lưu</button>
                                      </div>                          
                                    </div>
                                    <div class="question-response-count " *ngIf="currentAccount?.id === rep?.createdById">
                                        <span (click)="editRep.toggle($event)" class="dropdown-toggle"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                                        <p-overlayPanel #editRep>
                                            <ul role="menu" >
                                              <li role="menuitem"><a class="dropdown-item" (click)="openEditComment(rep)" href="javascript:void(0)">Sửa</a></li>
                                              <li role="menuitem"><a class="dropdown-item" (click)="openDeleteComment(rep?.id)" href="javascript:void(0)">Xóa</a></li>
                                          </ul>
                                        </p-overlayPanel>
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                            <div class="ml-5 add-replies">
                                <p-editor [(ngModel)]="reply" [placeholder]="'Nhập nội dung...'" [style]="{'height':'200px'}"></p-editor>
                                <button class="pull-right btn-sm mt-2 btn btn-primary" (click)="createReplies()">Phản hồi</button>
                            </div>
                          </div>
                        </div>
                        <div class="description-dashboard-content mt-3" *ngIf="isAddComment">
                          <p><strong>Bạn đang gặp vấn đề?</strong></p>
                          <div class="form-group mt-2">
                            <label for="title">Tiêu đề</label>
                            <input type="text" id="title" class="form-control" placeholder="Nhập tiêu đề câu hỏi" [(ngModel)]="comment.title">
                          </div>
                          <label for="content">Nội dung</label>
                            <p-editor [(ngModel)]="comment.content" [placeholder]="'Nhập vào nội dung bình luận...'" [style]="{'height':'200px'}"></p-editor>
                          <div class="d-flex justify-content-end row mt-2">
                            <button class="btn btn-sm btn-default" (click)="isAddComment = false">Quay lại</button>
                            <button class="btn btn-sm btn-primary mx-2" [disabled]="comment.title === '' || comment.content === ''" (click)="createdComment()">Đăng bình luận</button>
                          </div>
                        </div>
                        <div class="description-dashboard-content" *ngIf="!isAddComment && !isDetailComment" style="position: relative;" [el-loading]="load">
                            <form class="mt-3 d-flex justify-content-center">
                              <div class="input-group mw-90">
                                <input type="text" name="keyword" class="form-control" (keyup.enter)="search()" placeholder="Tìm kiếm" [(ngModel)]="keyword">
                                <div class="input-group-btn">
                                  <button type="button" (click)="search()" class="btn btn-sm btn-secondary w-100 h-100 rounded-0 px-3"><i class="fa fa-search"></i></button>
                                </div>
                              </div>
                            </form>
                            <div class="ask-question d-flex justify-content-between mt-3">
                              <span class="p-2">
                                <strong>{{totalItems}} câu hỏi về khóa học này</strong>
                              </span>
                              <span>
                                  <div class="form-group">
                                      <select class="form-control" name="type" (change)="changeSelect($event.target.value)">
                                        <option value="all">Tất cả bài học</option>
                                        <option value="current">Bài học hiện tại</option>
                                      </select>
                                    </div>
                              </span>
                              <a href="javascript:void(0)" class="p-2 text-info" role="button" (click)="openTabAddComment()">
                                Tạo câu hỏi của bạn
                              </a>
                            </div>
                            
                            <div class="alert alert-success" role="alert" *ngIf="isAlert">
                                <strong>Success!</strong>Đăng bình luận thành công.
                            </div>
                            <div class="question-list text-center text-danger" *ngIf="comments?.length === 0">Không có bình luận về khóa học này!!</div>
                            <div class="question-list" *ngIf="comments?.length > 0">
                              <div class="question-list-item" *ngFor="let cmt of comments; let i=index;">
                                <div class="avatar-circle" [ngStyle]="{'background-color': colors[i%4]}">
                                  <span class="initials">{{cmt?.createdBy | avatarText}}</span>
                                </div>
                                <div class="question-list-item-container">
                                  <a href="javascript:void(0)" (click)="openDetailComment(cmt?.id)">
                                    <div class="question-text-content">
                                      <div class="question-content-title" [innerHTML]="cmt?.title | highlight : keyword"></div>
                                      <div class="question-content-body" [innerHTML]="cmt?.content | highlight : keyword">
                                      </div>
                                    </div>
                                    <div class="question-response-count">
                                      <span>{{cmt?.replies?.length}}</span>
                                      <span><i class="fa fa-comments" aria-hidden="true"></i></span>
                                    </div>
                                  </a>
                                  <div class="font-text-xs">
                                    <a href="javascript:void(0)" class="text-left text-info">{{cmt?.createdBy}} · <span>{{cmt?.createdAt | timeAgo}}</span></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="comments && comments.length" class="w-100">
                                <div class="d-flex justify-content-end">
                                    <p-paginator [first]="(currentPage - 1) * itemsPerPage" [totalRecords]="totalItems" [rows]="itemsPerPage" (onPageChange)="loadPage($event)"></p-paginator>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Bài tập" *ngIf="exerciseFiles.length > 0">
                      <div *ngIf="lectureSelected"><lecture-exercise [lecture]="lectureSelected"></lecture-exercise></div>
                    </p-tabPanel>
                </p-tabView>
            </div>
          </div>
        </div>
      </div>
      <div class="lecture-container-sidebar" [hidden]="expand">
        <div class="lecture-container-sidebar-content">
          <div class="content-sidebar-header" >
              Nội dung
              <button type="button" (click)="expand = true">
                  <i class="fa fa-times" aria-hidden="true"></i>
              </button>
          </div>
          <div class="content-sidebar-content" [style.top]="verticalOffset + 'px'" [el-loading]="isLoadLecture">
            <div *ngIf="lectures && lectures.length > 0">
              <div class="sidebar-content-section" *ngFor="let c of lectures; let i=index" >
                <div class="sidebar-content-section-header" [ngClass]="{'active': c.isActive}" (click)="openListLecture(c)">
                    <div class="section-header-title">
                      <span>Chương {{c?.sortOrder}}: {{c?.name}}</span>
                    </div>
                    <span>
                      <i *ngIf="c.isOpen" class="fa fa-chevron-up" aria-hidden="true"></i>
                      <i *ngIf="!c.isOpen" class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <ul [style.max-height]="c.isActive ? 'unset' : '0px'" class="section-list" *ngIf="c.isOpen">
                  <li class="section-item" *ngFor="let l of c?.lectures"
                   [ngClass]="{'item-current': l?.code === lectureSelected?.code}">
                    <div>
                        <label class="checkbox-custom">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                      <div class="section-item-container">
                        <div class="section-item-container-title" [routerLink]="[ '../', l.code ]">
                          <span>{{l.sortOrder}}. {{l.name}}</span>
                        </div>
                        <div class="section-item-container-duration">
                          <div>
                            <span *ngIf="l.type === 'LECTURE_VIDEO'">
                              <span><i class="fa fa-play-circle mr-1" aria-hidden="true"></i></span>
                              <span>{{timeEstimate(l.videoTimeEstimation)}} mins</span>
                            </span>
                            <span *ngIf="l.type === 'LECTURE_QUIZ'">
                              <span><i class="fa fa-question-circle-o" aria-hidden="true"></i></span>
                            </span>
                          </div>
                          <div class="attach-file-download" *ngIf="l?.code === lectureSelected?.code && lectureSelected?.fileAttachments?.length > 0">
                            <span class="py-1 px-2 border" (click)="op.toggle($event)">
                              <i class="fa fa-folder-open"></i>
                              Tài liệu 
                              <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="copyright">Copyright © <span>Learning Simple</span> 2019-2019</p>
<hr class="hr-primary">
<p-dialog [showHeader]="false" [positionTop]="100" [style]="{width: '700px', height: '200px'}" [(visible)]="display">
    <div class="modal-body" [el-loading]="isLoadReview">
        <h4 class="modal-title mb-3">Đánh giá của bạn</h4>
        <p class="mb-2 text-center"><span>{{titleRates[selectedValue-1]}}</span></p>
        <div class="row d-flex justify-content-center mb-2 rating1">
            <p-rating [cancel]="false" iconOnClass="fa fa-star" iconOffClass="fa fa-star-o" [(ngModel)]="selectedValue"></p-rating>
        </div>
        <textarea rows="6" class="form-control" [(ngModel)]="reviewContent" placeholder="Đánh giá của bạn..."></textarea>
        <small [hidden]="!reviewContentError" class="text-danger mt-1">Vui lòng điền đánh giá!!</small>
        <div class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-sm btn-light" (click)="close()">Đóng</button>
            <button type="button" class="btn btn-sm btn-primary ml-2" (click)="update()">Lưu</button>
        </div>
      </div>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-overlayPanel #op>
    <ul class="panelFileAttachment">
      <li *ngFor="let file of lectureSelected?.fileAttachments" (click)="downloadAttachment(file)">
        <i class="fa fa-file"></i>
        {{file?.fileName}}</li>
    </ul>
</p-overlayPanel>