.lecture-header {
    color: #fff;
    background-color: #29303b;
    height: 56px;
    align-items: center;
    .lecture-header-dashboard {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-weight: 300;
        height: 100%;
        div, a {
            align-self: center;
            margin: 0 24px 0 0;
        }
    }
    .lecture-header-vertical {
        height: 40%;
        border-left: 1px solid #686f7a;
    }
    .lecture-header-title {
        flex: 1 1 auto;
        align-self: center;
        a {
            display: inline-block;
            width: 100%;
            span {
                vertical-align: middle;
            }
        }
    }
    .lecture-header-user {
        display: flex;
        align-items: center;
        margin-right: 0 !important;
        .lecture-header-rate {
            cursor: pointer;
        }
        .lecture-header-user-label {
            margin-left: 8px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.43em;
            min-width: 200px;
            margin-right: 0;
            * {
                margin-right: 3px;
            }
        }
    }
}
.lecture-content {
    .lecture-content-row {
        height: 100%;
        padding-left: 16px;
    }
    .nav-tabs {
        border: none;
        margin-bottom: 0;
    }
}
.lecture-container {
    display: flex;
    position: relative;
    .lecture-container-content {
        width: 75%;
        .lecture-container-content-body {
            background-color: #29303b;
            min-height: 400px;
        }
        .lecture-container-content-description {
            .lecture-container-content-description-row {
                justify-content: center;
                padding: 0 16px;
            }
            .description-row-flex {
                display: flex;
            }
            .description-tabs-container {
                width: 100%;
                li {
                    display: inline-block;
                    float: none;
                    padding: 0 15px;
                    a {
                        display: block;
                        margin-right: 2px;
                        line-height: 1.42857143;
                        border: none;
                        border-radius: 0;
                        padding: 10px 15px;
                        color: #505763;
                        border-bottom: 6px solid transparent;
                        &:hover {
                            border-bottom: 6px solid #00576b;
                        }
                    }
                }
                li.active {
                    a {
                        color: #29303b;
                        background-color: transparent;
                        border: 0;
                        border-bottom: 6px solid #007791;
                        cursor: default;
                    }
                }
            }
            .description-dashboard-content {
                width: 85%;
                margin: 0 auto;
                min-height: 400px;
                .loading {
                    position: absolute;
                }
                .open-edit-delete {
                    position: relative;
                    height: max-content;
                    .dropdown-toggle::after {
                        display: none;
                    }
                    .dropdown-menu {
                        min-width: 80px;
                        margin: 0;
                        padding: 0;
                        a {
                            margin: 0;
                        }
                    }
                }
                .description-dashboard-content-body {
                    margin: 32px 0;
                }
                .collape-description {
                    max-height: 500px;
                    position: relative;
                }
            }
            .lecture-overview-header {
                margin: 0 24px;
                p {
                    margin-bottom: 32px;
                }
            }
            .lecture-overview-row {
                border-top: 1px solid #dedfe0;
                padding: 24px;
                display: flex;
                > * {
                    width: 33%;
                    flex-shrink: 0;
                }
                &:first-child {
                    width: 25%;
                }
            }
        }
    }
    .lecture-container-sidebar {
        width: 25%;
        .lecture-container-sidebar-content {
            position: relative;
            height: 100%;
            min-width: 300px;
            .content-sidebar-header {
                //position: fixed;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.5em;
                display: flex;
                justify-content: space-between;
                padding: 16px;
                border: 1px solid #dedfe0;
                border-right: none;
                button {
                    background: none;
                    border: none;
                }
            }
            .content-sidebar-content {
                //position: fixed;
                right: 0;
                z-index: 1;
                background-color: #fff;
                border: 1px solid #e8e9eb;
                overflow-x: hidden;
                overflow-y: auto;
                .sidebar-content-section {
                    border-bottom: 1px solid #dedfe0;
                    .checkbox-custom {
                        margin: 5px 0 0 0;
                        .checkmark {
                            &:hover {
                                border: 1px solid;
                            }
                        }
                    }
                    .sidebar-content-section-header {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        flex-direction: column;
                        padding: 16px;
                        background: #f2f3f5;
                        cursor: pointer;
                        .section-header-title {
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 1.43em;
                            max-width: 100%;
                            margin: 0 24px 0 0;
                        }
                        > span {
                            position: absolute;
                            top: 15px;
                            right: 16px;
                            font-size: 15px;
                            color: #29303b;
                            i {
                                transition: all 0.2s ease-out;
                            }
                        }
                        * {
                            pointer-events: none;
                        }
                    }
                    .active i {
                        transform: rotate(180deg);
                    }
                    ul.section-list {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        margin-bottom: 0;
                        .item-current {
                            background: #e6f2f5;
                        }
                        li.section-item {
                            &:hover {
                                background: #f2f3f5;
                            }
                            cursor: pointer;
                            padding: 4px;
                            .section-item-container {
                                flex: 1;
                                min-width: 1px;
                                display: flex;
                                flex-direction: column;
                                margin-left: 4px;
                                .section-item-container-title {
                                    max-width: 100%;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 1.43em;
                                }
                                .section-item-container-duration {
                                    display: flex;
                                    justify-content: space-between;
                                    padding-top: 4px;
                                    > div {
                                        display: flex;
                                        justify-content: flex-start;
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 1.33em;
                                        opacity: .7;
                                        padding-top: 4px;
                                        > span {
                                            margin-right: 4px;
                                            padding: 0;
                                            color: #a1a7b3;
                                            font-size: 14px;
                                            font-weight: 400;
                                            line-height: 1.43em;
                                            line-height: inherit;
                                            border: 0;
                                        }
                                    }
                                }
                            }
                            > div {
                                display: flex;
                                justify-content: space-between;
                                color: #14171c;
                                padding: 8px 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.header-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    &:hover {
        color: #dedfe0;
    }
}
.video-play {
    min-height: 400px;
}
.nav-tabs {
    list-style: none;
    padding-top: 7px;
}
.nav-side {
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}
.mb-space-sm {
    margin-bottom: 16px;
}
.font-heading-lg {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33em;
}
video {
    width: 100%;
}
.quiz {
    background: white;
    display: flex;
    justify-content: center;
    min-height: 400px;
    padding: 45px 0;
    position: relative;
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 48px;
        background: #f2f3f5;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        > div {
            padding-left: 16px;
            display: flex;
            align-items: center;
            flex: 1;
            min-width: 1px;
        }
        .footer-left {
            flex-direction: row;
        }
        .footer-right {
            justify-content: flex-end;
        }
        .tooltip-container {
            display: inline-block;
        }
    }
    > div {
        max-width: 860px;
        flex: 1 1 100%;
    }
    p {
        margin: 0 0 10.5px;
    }
    .quiz-header {
        .quiz-header-content {
            margin-top: 10px;
        }
    }
    
}
.btn-tertiary {
    &:hover{
        background: white;
    }
}

.open-course-content {
    position: absolute;
    background-color: rgba(41,48,59,.7)!important;
    border: none;
    border-radius: 0;
    pointer-events: auto;
    padding: 8px 16px;
    margin-top: 16px;
    height: 50px;
    max-width: 46px;
    width: auto;
    right: 0;
    top: 0;
    z-index: 10;
    transition: all 1s ease-in-out;
    i {
        color: white;
    }
}
.question-list {
    
    .question-list-item {
        display: flex;
        border-top: 1px solid #e8e9eb;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.43em;
        padding: 16px 24px;
        &:hover {
            background-color: #f7f8fa;
        }
        .question-list-item-container {
            flex: 1;
            min-width: 1px;
            padding-left: 16px;
            a {
                display: flex;
                margin-bottom: 16px;
                cursor: pointer;
                color: #29303b;
                span {
                    margin-left: 4px;
                    color: #505763;
                    font-weight: normal;
                }
                .question-text-content {
                    display: block;
                    flex: 1;
                    min-width: 1px;
                    padding-right: 48px;
                    .question-content-title {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.43em;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .question-content-body {
                        margin-top: 4px;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .question-response-count {
                    display: flex;
                    justify-content: space-around;
                    color: #686f7a;
                }
            }
        }
    }
}
.font-text-xs {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33em;
}
::ng-deep .rating1 {
    .ui-rating-icon {
        font-size: 30px !important;
        margin-right: 15px;
        color: #d1d10d;
    }
}
::ng-deep .ui-tabview-panels {
    border: none !important;
    border-top: 1px solid #c8c8c8 !important;
}
.copyright {
    padding: 11px 0;
    background: #2d3e50;
    color: white;
    text-align: center;
    span {
        color: #fbaa33;
        text-transform: uppercase;
    }
}
.hr-primary {
    margin: 0;
    border-top: 6px solid #ec5252;
}
:host ::ng-deep .open-edit-delete {
    .ui-overlaypanel {
        top: 15px !important;
        left: 0 !important;
        &::before, &::after {
            right: auto;
        } 
        &::after {
            border-width: 9px;
        }
        .ui-overlaypanel-content {
            padding: 0 !important;
            ul {
                margin-bottom: 0 !important;
                a {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}
.attach-file-download {
    opacity: 1 !important;
    padding-top: 0 !important;
    span {
        color: #007791 !important;
        background: #fff;
        font-size: 12px !important;
        &:hover {
            color: black !important;
        }
    }
}
.panelFileAttachment {
    li {
        &:hover {
            background: #f2f3f5;
            color: #454b55;
            cursor: pointer;
        }
    }
    margin-bottom: 5px;
}