<div class="error_slider">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="notfound_img">
                  <img src="../../../assets/images/main/404_Page.png" alt="" class="img-fluid">
                 
                 
              </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 ">
               <a class="goback text-center" href="" [routerLink]="['']" >Go Back to Home </a>
          </div>
      </div>
  </div>
</div>