<div class="course-preview" style="width: 360px;">
  <div class="module">
    <div class="is-show">
      <div class="introduction-asset">
          <div class="introduction-asset-child">
              <div class="introduction-asset-gradient"></div>
              <a (click)="display = true" role="button" class="introduction-asset-link">
                <div class="play-button-trigger introduction-asset-placeholder">
                  <div class="play-button styles-play-button"></div>
                  <span class="introduction-asset-text">Giới thiệu khóa học</span>
                </div>
              </a>
              <img *ngIf="course?.imageUrl" class="introduction-asset-img" alt="" srcset="{{course?.imageUrl}}" width="240" height="135">
          </div>  
      </div>  
    </div>
    <div>
      <div class="purchase-text" *ngIf="userRegistration">
        <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
        <span>Bạn đã tham gia khóa học ngày {{userRegistration.enrollDate | date:'dd/MM/yy'}}</span>
      </div>
    </div>
    <div class="col-inner">
      <div>
        <h1 class="icon-click-here">
          
        </h1>
        <div style="position: relative;" [el-loading]="isSaving">
            <button *ngIf="userRegistration" [routerLink]="[ 'lecture', lectureCode ]" type="button" class="course-cta btn btn-lg btn-secondary btn-block">Vào học</button>
            <button *ngIf="!userRegistration" [disabled]="isSaving" (click)="registrationCourse(course?.code)" type="button" class="mt-3 course-cta btn btn-lg btn-register btn-block">Đăng ký</button>
        </div>
      </div>
      <div>
        <div>
          <div class="top-border"></div>
          <button type="button" class="btn btn-link">
              <i class="fa fa-share" aria-hidden="true"></i>
              <span style="margin-left: 8px;">Share this course</span>
          </button>
        </div>
      </div>
      <div>
        <div class="price-text">
        </div>
      </div>
      <div class="info-course">
        <div>
          <span>Khóa học bao gồm:</span>
        </div>
        <ul style="list-style: none;">
          <li><i class="fa fa-play" aria-hidden="true"></i> {{totalTimeEstimateVideo}} phút học</li>
          <li><i class="fa fa-file-video-o" aria-hidden="true"></i> {{totalLectureVideo}} bài giảng có video</li>
          <li><i class="fa fa-files-o" aria-hidden="true"></i> {{totalLectureQuiz}} bài kiểm tra</li>
          <li><i class="fa fa-code" aria-hidden="true"></i> {{totalLectureExercise}} bài luyện tập</li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <p-dialog [positionTop]="100" [style]="{width: '800px', height: '500px'}" header="Bản giới thiệu khóa học" [(visible)]="display">
      <video class="w-100" src="{{course?.videoUrl}}" controls></video>
  </p-dialog>
<p-toast></p-toast>