
<div class="modal-header">
    <h4 class="modal-title" [translate]="'userManagement.detail.title'"></h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
        (click)="clear()">&times;</button>
</div>
<div class="modal-body" style="padding-top: 0;">
    <div class="row border-bottom">
        <div class="col-md-3 border-right py-3">
            <img *ngIf="user?.imageDTO" class="img-fluid" width="150" height="150" srcset="api/image/{{user?.imageDTO.id}}" alt="Ảnh đại diện" />
        </div>
        <div class="col-md-9" style="height: 100px; display: table;">
            <h3 style="display: table-cell; vertical-align: middle;">{{user?.name}}</h3>
        </div>
    </div>
    <div class="row justify-content-center py-3">
        <table>
            <tbody>
                <tr>
                    <td class="text-right"><span [translate]="'userManagement.username'"></span></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><b>{{user?.username}}</b></td>
                </tr>
                <tr>
                    <td class="text-right"><span [translate]="'userManagement.email'"></span></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><b>{{user?.email}}</b></td>
                </tr>
                <tr>
                    <td class="text-right"><span [translate]="'userManagement.phone'"></span></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><b>{{user?.phone}}</b></td>
                </tr>
                <tr>
                    <td class="text-right"><span [translate]="'userManagement.address'"></span></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><b>{{user?.address}}</b></td>
                </tr>
                <tr>
                    <td class="text-right"><span [translate]="'userManagement.roles'"></span></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <div *ngFor="let role of user?.roleBOs">
                            <span class="badge badge-info">{{ role }}</span>
                            <br>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        &nbsp;<span [translate]="'entity.action.cancel'">Cancel</span>
    </button>
</div>