<section>
    <div id="banner" *ngIf="step === 0">
        <div class="full_slider">
            <div class="slider" [ngStyle]="{'background-image': '../../../../assets/images/main/header-image.jpg'}">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bnr_text">
                                <h1>Đăng ký giảng dạy tại S-Learning</h1>
                                <p>Tạo khoá học cho riêng bạn, chia sẻ kiến thức và kiếm tiền cùng chúng tôi.</p>
                                <div class="step-view">
                                    <p>Các bước cần hoàn thành: </p>
                                    <ol>
                                        <li>Hoàn thành {{quickQuestion.length}} câu hỏi ngắn </li>
                                        <li>Tải lên bản giới thiệu bản thân (CV) </li>
                                    </ol>
                                </div>
                                <a class="start_course" href="javascript:void(0)" [routerLink]="['step/1']">Đăng ký</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>              
        </div>
    </div>
    <div *ngIf="step !== 0" class="container" [el-loading]="isLoad">
        <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>
        <div *ngIf="step < 4">
            <div class="col-md-8">
                <h1 class="my-5">{{quickQuestion[step-1].title}}</h1>
                <p>{{quickQuestion[step-1].content}}</p>
            </div>
            <div class="ml-2 row mb-5">
                <div class="col-md-12 mt-4">
                    <strong>{{quickQuestion[step-1].question}}</strong>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li *ngFor="let ans of quickQuestion[step-1].answers">
                            <div class="quiz-answer">
                            <label>
                                <div class="pos-r">
                                    <input name="answer" data-index="0" type="radio" [checked]="answers[step-1] === ans.id" (change)="onSelectAnswer(step-1, ans.id)">
                                    <span class="radio-label">&#8203;</span>
                                </div>
                                <div class="quiz-answer-content">
                                <div> {{ans.content}}</div>
                                </div>
                            </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="{{quickQuestion[step-1].imageUrl}}" alt="">
                </div>  
                <div class="col-md-12 my-3">
                    <button *ngIf="step < 4" type="button" class="ml-2 btn btn-danger pull-right" [routerLink]="['../', step + 1]">Tiếp tục</button>
                    <button *ngIf="step > 1" type="button" class="btn btn-default pull-right" [routerLink]="['../', step - 1]">Quay lại</button>
                </div>
            </div>  
        </div>
        <div *ngIf="step === 4">
            <div class="row">
                <div class="col-md-6">
                    <div class="el-upload-dragger">
                        <div class="el-upload el-upload--text">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <div class="el-upload__text"><em>Tải lên CV cá nhân</em>
                            </div>
                            <input class="el-upload__input"name="imageFile" id="fileImage" type="file"  accept="application/pdf" (change)="onFileChange($event)">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center pt-3" *ngIf="selectedFile">
                    <p>{{selectedFile[0].name}}</p>
                    <p>{{pdfFile}}</p>
                    <button type="button" class="btn btn-success mt-1" (click)="pdfPreview = true">Xem truớc</button>
                </div>
            </div> 
            <div class="col-md-12 text-center">
                    <button *ngIf="step > 1" type="button" class="btn btn-default mr-1" [routerLink]="['../', step - 1]">Quay lại</button>
                <button *ngIf="step === 4" type="button" class="ml-2 btn btn-danger" (click)="requestUpdateToTeacher()">Xác nhận</button>
            </div>
        </div>
    </div>
</section>
<p-sidebar [(visible)]="pdfPreview" [fullScreen]="true" [baseZIndex]="10000">
        <pdf-viewer [src]="pdfFile" 
        [render-text]="true"
        style="display: block;"></pdf-viewer>
    <button type="button" (click)="pdfPreview = false" class="btn btn-secondary pull-right">Đóng</button>
</p-sidebar>
<p-toast></p-toast>