<div class="modal-header">
    <h4 class="modal-title" [translate]="'lectureManagement.home.lecture.title'"></h4>
    <button type="button" class="close" aria-label="Close" (click)="clear()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-4">
            <button type="button" (click)="goToLink('null', 'new')"
                    class="btn btn-primary jh-create-entity" >
                    <i class="fa fa-plus"></i>
                <span [translate]="'lectureManagement.home.chapter.createLabel'">
        Tạo mới
        </span>
            </button>
        </div>
        <div class="col-sm-2 col-lg-4"></div>
        <div class="col-sm-6 col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="keyword" (input)="search($event.target.value)"
                        placeholder="..."/>
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <table class="mt-4 table table-striped text-center table-bordered">
        <thead>
        <tr jhiSort>
            <th><span [translate]="'lectureManagement.code'">code</span></th>
            <th><span [translate]="'lectureManagement.name'">name</span></th>
            <th><span [translate]="'lectureManagement.type'">type</span></th>
            <th><span [translate]="'lectureManagement.active'">Active</span></th>
            <th [translate]="'lectureManagement.action'">Action</th>
        </tr>
        </thead>
        <tbody *ngIf="lectures">
        <tr *ngFor="let lecture of lectures">
            <td>{{lecture.code}}</td>
            <td>{{lecture.name}}</td>
            <td>{{lecture.type.name}}</td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="setActive(lecture, true)"
                        *ngIf="!lecture.activated"
                        [translate]="'lectureManagement.deactivated'">Deactivated
                </button>
                <button class="btn btn-success btn-sm" (click)="setActive(lecture, false)"
                        *ngIf="lecture.activated"
                        
                        [translate]="'lectureManagement.activated'">Activated
                </button>
            </td>
            <td class="text-center">
                <div class="btn-group flex-btn-group-container">
                    <button type="button" (click)="goToLink(lecture.code, 'quiz')" 
                            *ngIf="lecture.type.code === 'quiz'"
                            class="btn btn-success btn-sm">
                        <i class="fa fa-plus"></i>
                        <span class="d-none d-md-inline" [translate]="'lectureManagement.detail.quiz'">quiz</span>
                    </button>
                    <button type="submit"
                            [routerLink]="[ lecture.code, 'view']"
                            class="btn btn-info btn-sm color-white">
                        <i class="fa fa-eye"></i>
                        <span class="d-none d-md-inline" [translate]="'entity.action.view'">View</span>
                    </button>
                    <button type="button" (click)="goToLink(lecture.code, 'edit')"
                            class="btn btn-primary btn-sm">
                        <i class="fa fa-pencil"></i>
                        <span class="d-none d-md-inline" [translate]="'entity.action.edit'">Edit</span>
                    </button>
                    <button type="button" (click)="deleteLecture(lecture)"
                            class="btn btn-danger btn-sm">
                        <i class="fa fa-times"></i>
                        <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Delete</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="lectures && lectures.length" class="w-100">
        <div class="row justify-content-center">
                <pagination [totalItems]="totalItems" [(ngModel)]="+page" [itemsPerPage]="itemsPerPage" (pageChanged)="loadPage($event)" [maxSize]="5" [boundaryLinks]="true"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="clear()">Close</button>
</div>