<div class="modal-body page-client" style="font-family: 'Arimo';">
    <div class="row">
        <div class="col-sm-4">
            <button type="button" (click)="goToLink('null', 'create')"
                    class="btn btn-sm btn-primary" *ngIf="statusCanNotEditAndDelete.indexOf(courseStatus) === -1 && statusCanNotEditAndDelete.indexOf(chapterStatus) === -1">
                <span [translate]="'lectureManagement.home.chapter.createLabel'">
        Tạo mới
        </span>
            </button>
        </div>
        <div class="col-sm-2 col-lg-4"></div>
        <div class="col-sm-6 col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="keyword" class="form-control rounded-0" (input)="search($event.target.value)"
                       placeholder="Mã / Tên bài học..."/>
                <div class="input-group-append">
                    <button class="btn btn-dark" type="button" (click)="search()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table class="mt-2 table table-bordered" [el-loading]="loading">
        <thead class="thead-dark text-center">
        <tr>
            <th *ngIf="isChecking">Duyệt</th>
            <th>Trạng thái</th>
            <th [translate]="'lectureManagement.code'">code</th>
            <th [translate]="'lectureManagement.name'">name</th>
            <th [translate]="'lectureManagement.type'">type</th>
            <th [translate]="'lectureManagement.active'">Active</th>
            <th [translate]="'lectureManagement.action'">Action</th>
        </tr>
        </thead>
        <tbody *ngIf="lectures?.length === 0">
            <tr>
                <td colspan="6" class="text-center">Bạn chưa tạo bài học.</td>
            </tr>
        </tbody>
        <tbody *ngIf="lectures?.length > 0">
        <tr *ngFor="let lecture of lectures">
            <td class="btn-action" *ngIf="isChecking">
                <div *ngIf="isChecking && lecture?.status === CHECKING">
                    <button (click)="setStatus(lecture?.code, 'SUCCESS')" type="button" class="mb-1 btn btn-sm btn-success">Chấp nhận</button> <br>
                    <button (click)="setStatus(lecture?.code, 'ERROR')" type="button" class="btn btn-sm btn-danger">Loại bỏ</button>
                </div>
            </td>
            <td>
                <strong><span class="badge badge-danger">{{lecture.status | statusText}}</span></strong>
            </td>
            <td>{{lecture.code}}</td>
            <td>{{lecture.name}}</td>
            <td>{{lecture.typeName}}</td>
            <td>
                <label class="switch switch-label switch-success">
                    <input type="checkbox" class="switch-input" name="activated" [(ngModel)]="lecture.activated" (change)="setActive(lecture)">
                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                </label>
            </td>
            <td class="text-center">
                <div class="btn-group flex-btn-group-container">
                    <button type="button" (click)="goToLink(lecture.code, 'exercise')" 
                            *ngIf="lecture.fileAttachments.length > 0"
                            class="btn btn-success btn-sm">
                        <span class="d-none d-md-inline">Bài tập</span>
                    </button>
                    <button type="button" (click)="goToLink(lecture.code, 'quiz')" 
                            *ngIf="lecture.type === 'LECTURE_QUIZ'"
                            class="btn btn-success btn-sm">
                        <span class="d-none d-md-inline" [translate]="'lectureManagement.detail.quiz'">quiz</span>
                    </button>
                    <button type="button" (click)="goToLink(lecture.code, 'edit')"
                            class="btn btn-primary btn-sm" *ngIf="statusCanNotEditAndDelete.indexOf(courseStatus) === -1 && statusCanNotEditAndDelete.indexOf(lecture.status) === -1">
                        <span class="d-none d-md-inline" [translate]="'entity.action.edit'">Edit</span>
                    </button>
                    <button type="button" (click)="deleteLecture(lecture)"
                            class="btn btn-danger btn-sm" *ngIf="statusCanNotEditAndDelete.indexOf(courseStatus) === -1 && statusCanNotEditAndDelete.indexOf(lecture.status) === -1">
                        <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Delete</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row justify-content-center" *ngIf="lectures && lectures.length" class="w-100">
        <p-paginator [first]="(page - 1) * itemsPerPage" [totalRecords]="totalItems" [rows]="itemsPerPage" (onPageChange)="loadPage($event)"></p-paginator>
    </div>
</div>