<!--********************
     banner part Start
    ********************-->
    <section id="banner">
        <div class="full_slider">
            <owl-carousel-o [options]="customOptions">
                <div *ngFor="let slide of images">
                    <ng-template carouselSlide [id]="slide.id">
                        <div class="slider" [ngStyle]="{'background-image': 'url(' + slide.src + ')'}">
                            <div class="container ">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="bnr_text">
                                            <h1><span>Let’s Learn</span> {{slide.title}}</h1>
                                            <p>{{slide.content}}</p>
                                            <a class="start_course" href="our_course.html">Start a Course</a>
                                            <a class="take_tour" href="index.html">Take a Tour</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </owl-carousel-o>
        </div>
    </section>
  <!--********************
   banner part end
  ********************-->