
       
<div class="footer">
    <section id="contact-info">
            <div class="container">
                <div class="content-text">
                    <div class="row">
                        <div class="col-lg-4 offset-md-1 col-md-12 pt-3">
                            <div class="cheader-left">
                                <a href="#"><img src="assets/images/main/footerlogo.png" alt="footer logo"></a>
                            </div>
                            <div class="c-text-left text-left">
                                <p class="nipa">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullmco laboris nisi ut aliquip ex ea.</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 offset-md-2 col-md-6">
                            <div class="cheader-center">
                                <h3>Thông tin liên hệ</h3>
                            </div>
                            <div class="c-text-location">
                                <div class="row">
                                    <div class="col-lg-3  col-md-3">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i></a></li>
                                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-9  col-md-9">
                                        <div class="address">
                                            <p class="address_title">Vị trí</p>
                                            <p>Km10 Nguyễn Trãi, Hà Đông, Hà Nội.</p>
                                            <p class="address_title">Số điện thoại</p>
                                            <p>+84 3689 821 821</p>
                                            <p class="address_title">E-mail</p>
                                            <p>gyan@gmail.com, learningsimple@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <div>
        <owl-carousel-o [options]="customOptions">
            <div *ngFor="let slide of images">
                <ng-template carouselSlide [id]="slide.id">
                    <div class="item-img">
                        <div class="footer_img">
                            <img [src]="slide.src" alt="blogsmall1" class="img-fluid">
                            <div class="overlay_social">
                                <a href="#">Instagram Photos </a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </owl-carousel-o> 
    </div>
    <p class="copyright">Copyright © <span>Learning Simple</span> 2019-2019</p>
    <hr class="hr-primary">
</div>