<div class="teacher-prof">
  <div class="techer-img">
      <img [src]="slideT?.src" alt="teacher1" class="img-fluid  w-100">
  </div>
  <div class="teacher-text">
      <h3>Shamima Sultana</h3>
      <p>Sr. Faculty Member</p>
      <img src="../../../../assets/images/main/counterPartBorderBottom.png" height="3" alt="border" class="img-fluid ">
  </div>
  <div class="teacher-text-hover">
      <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
      </ul>
      <h3 [routerLink]="[ slideT.srcT ]">Shamima Sultana</h3>
      <p>Sr. Faculty Member</p>
      <img src="../../../../assets/images/main/aboutSliderBorderBottom.png" alt="border" class="img-fluid ">
  </div>
</div>