<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-sm"
                            [routerLink]="['new']">
                        <span [translate]="'roleManagement.home.createLabel'">
                Tạo mới
                </span>
                    </button>
                </div>
                <div class="col-sm-2 col-lg-4"></div>
                <div class="col-sm-6 col-lg-4">
                    <div class="input-group">
                        <input [(ngModel)]="keyword" name="keyword" (input)="search()" placeholder="Mã / Tên vai trò" class="form-control rounded-0" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="button" (click)="search()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <table class="table table-bordered" >
                <thead class="thead-dark text-center">
                <tr >
                    <th [translate]="'global.field.id'">ID</th>
                    <th [translate]="'roleManagement.code'">code</th>
                    <th [translate]="'roleManagement.name'">name</th>
                    <th [translate]="'roleManagement.permissions'">permissions</th>
                    <th [translate]="'roleManagement.action'">Action</th>
                </tr>
                </thead>
                <tbody *ngIf="roles.length === 0">
                    <tr>
                        <td class="text-center" colspan="5">Không có dữ liệu</td>
                    </tr>
                </tbody>
                <tbody *ngIf="roles.length > 0">
                <tr *ngFor="let role of roles;">
                    <td>{{role.id}}</td>
                    <td>{{role.code}}</td>
                    <td>{{role.name}}</td>
                    <td>
                        <div *ngFor="let p of role.permissionBOs">
                            <span class="badge badge-info">{{ p }}</span>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="[ role.code, 'edit']"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="d-none d-md-inline"
                                        [translate]="'entity.action.edit'">Edit</span>
                            </button>
                            <button type="button" (click)="deleteRole(role)"
                                    class="btn btn-danger btn-sm">
                                <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="roles && roles.length" class="row justify-content-end w-100">
            <p-paginator [first]="(page - 1) * itemsPerPage" [totalRecords]="totalItems" [rows]="itemsPerPage" (onPageChange)="loadPage($event)"></p-paginator>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>