<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3><span [translate]="'roleManagement.home.title'">Users</span></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="btn btn-primary btn-sm"
                                            [routerLink]="['new']">
                                        <span [translate]="'roleManagement.home.createLabel'">
                               Tạo mới
                               </span>
                                    </button>
                                </div>
                                <div class="col-sm-2 col-lg-4"></div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" [(ngModel)]="keyword" (input)="search($event.target.value)"
                                               placeholder="..."/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="pi pi-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <table class="table table-striped text-center">
                                <thead>
                                <tr jhiSort>
                                    <th [translate]="'global.field.id'">ID</th>
                                    <th [translate]="'roleManagement.code'">code</th>
                                    <th [translate]="'roleManagement.name'">name</th>
                                    <th [translate]="'roleManagement.permissions'">permissions</th>
                                    <th [translate]="'roleManagement.action'">Action</th>
                                </tr>
                                </thead>
                                <tbody *ngIf="roles">
                                <tr *ngFor="let role of roles;">
                                    <td>{{role.id}}</td>
                                    <td>{{role.code}}</td>
                                    <td>{{role.name}}</td>
                                    <td>
                                        <div *ngFor="let p of role.permissionBOs">
                                            <span class="badge badge-info">{{ p }}</span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="button" (click)="openModalDetail(role)"
                                                    class="btn btn-info btn-sm color-white">
                                                <span class="d-none d-md-inline"
                                                      [translate]="'entity.action.view'">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="[ role.id, 'edit']"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-primary btn-sm">
                                                <span class="d-none d-md-inline"
                                                      [translate]="'entity.action.edit'">Edit</span>
                                            </button>
                                            <button type="button" (click)="deleteRole(role)"
                                                    class="btn btn-danger btn-sm">
                                                <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="roles && roles.length" class="row justify-content-center w-100">
                            <p-paginator [first]="(page - 1) * itemsPerPage" [totalRecords]="totalItems" [rows]="itemsPerPage" (onPageChange)="loadPage($event)"></p-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>