
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3><span [translate]="'lectureManagement.quiz.list'">quizs</span></h3>
                </div>
                <div class="card-body justify-content-center">
                    <div class="row mb-4 ml-4">
                        <button class="btn btn-md btn-primary" (click)="open(null)" [translate]="'lectureManagement.home.chapter.createLabel'">add</button>
                    </div>
                    <p *ngIf="!questions || questions.length === 0" class="text-danger">Danh sách câu hỏi hiện đang trống!</p>
                    <div *ngIf="questions && questions.length > 0">
                        <div *ngFor="let q of questions; let i=index" class="form-question">
                            <p class="bg-secondary text-dark my-3 d-flex p-1">
                                <span class="mr-3">{{i+1}}.</span>
                                <span [innerHTML]="q.content"></span>
                                <span (click)="open(q)" class="pl-3 text-primary" title="Sửa"><i class="fa fa-pencil"></i>Sửa</span>
                                <span (click)="delete(i)" class="pl-3 text-danger" title="Xóa"><i class="fa fa-times"></i>Xóa</span>
                                <span class="ml-auto">
                                    <label class="switch switch-label switch-success mb-0">
                                        <input type="checkbox" class="switch-input" checked id="activated" name="activated" [(ngModel)]="q.activated">
                                        <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                                    </label>
                                </span>
                            </p>
                            <div class="form-question-content" *ngIf="q.answers && q.answers.length > 0">
                                <div class="d-flex mb-2" *ngFor="let ans of q.answers">
                                    <label class="checkbox-custom"> 
                                        <input type="radio" name="answers_{{i}}" (change)="handleChange($event, ans, q)" [checked]="ans.isCorrect"> 
                                        <span class="checkmark"></span> 
                                    </label>
                                    <span>{{ans.content}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <button type="button" class="btn btn-secondary" (click)="previousState()">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            &nbsp;<span
                            [translate]="'entity.action.cancel'">Cancel</span>
                        </button>
                        <button type="button" (click)="save()" class="ml-3 btn btn-primary">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            &nbsp;<span [translate]="'entity.action.save'">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
