<!--********************
     Support part Start
    **********************-->
    <section id="support">
      <div class="container support">
          <div class="row">
              <div class="col-lg-4 col-md-4  px-0">
                  <div class="online">
                      <img src="../../../../assets/images/main/online_class_icon.png" alt="online_class_icon">
                      <div class="text-center">
                          <h4>Online Classes</h4>
                          <a href="#">Learn More<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4  px-0">
                  <div class="online ">
                      <img src="../../../../assets/images/main/online_support_icon.png" alt="online_support_icon">
                      <div class="text-center">
                          <h4>Online &amp; Offline Support</h4>
                          <a href="#">Learn More<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4  col-md-4 px-0">
                  <div class="online ">
                      <img src="../../../../assets/images/main/lifetime_support_icon.png" alt="lifetime_support_icon">
                      <div class="text-center">
                          <h4>Online Classes</h4>
                          <a href="#">Learn More<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!--********************
   Support part end
**********************-->