<section class="chat" [style.right]="index * 25 + 'em'">
    <div class="chat-container">
        <div class="chat-header">
            <h1>{{message?.name}} <span class="pull-right" (click)="close()"><i class="fa fa-times"></i></span></h1>
        </div>
        <div class="chat-content">
            <div *ngIf="message.messages.length === 0" class="text-center">Bắt đầu trò chuyện!
                <br/><i class="fa fa-comments-o" aria-hidden="true"></i>
            </div>
            <div class="chat-log" *ngIf="message.messages.length > 0">
                <div class="chat-item" *ngFor="let mess of message?.messages"
                 [ngClass]="mess?.isSent ? 'sender' : 'receiver'">
                    <div>
                        <span>{{mess?.content}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-footer">
            <textarea name="message" [(ngModel)]="content" rows="3" placeholder="Nhập tin nhắn..." (keydown.enter)="send(message?.username);false"></textarea>
        </div>
    </div>
</section>