<section class="chat">
    <div class="chat-container" *ngIf="isShow">
        <div class="chat-header">
            <h1>Username <span class="pull-right"><i class="fa fa-times"></i></span></h1>
        </div>
        <div class="chat-content">
            <div class="chat-log">
                <div class="chat-item sender">
                    <div>
                        <span>Hi! How can I help you today?</span>
                    </div>
                </div>
                <div class="chat-item receiver">
                    <div>
                        <span>i can't create new course ?</span>
                    </div>
                </div>
                <div class="chat-item sender">
                    <div><span>You can create new courses from your instructor dashboard;</span></div>
                    <div><span>Once there, you can click on the "New course" button on the upper right hand corner</span></div>
                </div>
                <div class="chat-item sender">
                    <div>
                        <span>Hi! How can I help you today?</span>
                    </div>
                </div>
                <div class="chat-item receiver">
                    <div>
                        <span>i can't create new course ?</span>
                    </div>
                </div>
                <div class="chat-item sender">
                    <div><span>You can create new courses from your instructor dashboard;</span></div>
                    <div><span>Once there, you can click on the "New course" button on the upper right hand corner</span></div>
                </div>
                <div class="chat-item sender">
                    <div>
                        <span>Hi! How can I help you today?</span>
                    </div>
                </div>
                <div class="chat-item receiver">
                    <div>
                        <span>i can't create new course ?</span>
                    </div>
                </div>
                <div class="chat-item sender">
                    <div><span>You can create new courses from your instructor dashboard;</span></div>
                    <div><span>Once there, you can click on the "New course" button on the upper right hand corner</span></div>
                </div>
            </div>
        </div>
        <div class="chat-footer">
            <textarea name="message" rows="3" placeholder="Nhập tin nhắn..."></textarea>
        </div>
    </div>
</section>