<div class="wrapper">
  <nav id="sidebar">
    <ul class="nav">
      <li class="nav-title">Theme</li>
      <li *ngFor="let item of navItems" [ngClass]="item.title ? 'nav-title' : 'nav-item'">
        <a href="javascript:void(0)" class="nav-link" [routerLink]="[ item.url ]" [routerLinkActive]="['active']" *ngIf="!item.title">
          <i class="nav-icon fa {{item.icon}}"></i>
          {{item.name | translate}}
        </a>
        <span *ngIf="item.title">{{item.name}}</span>
      </li>
    </ul>
  </nav>
  <div class="app-body w-100">
    <div id="admin-header" class="py-3 bg-secondary text-right overflow-hidden">
      <a href="javascript:void(0)" class="mr-3 text-white" (click)="list.toggle($event); newMessage = false;">Message <span *ngIf="newMessage">*1</span></a>
      <a href="javascript:void(0)" class="mr-3 text-white" (click)="logout()">Đăng xuất</a>
    </div>
    <!-- Main content -->
    <main class="main">
      <div class="container-fluid page-admin" style="position: relative;min-height: 605px;padding: 30px;">
        <router-outlet></router-outlet>
      </div>
    </main>
    <div>
        <p class="copyright bg-secondary text-center py-1 text-white">Copyright © <span>Learning Simple</span> 2019-2019</p>
    </div>
  </div>
</div>
<p-overlayPanel #list>
  <ul *ngIf="listUser.length > 0">
    <li *ngFor="let user of listUser" (click)="getListMessage(user)">
      <span>{{user?.username}}</span>
      <strong>{{user?.notification}}</strong>
    </li>
  </ul>
</p-overlayPanel>
<form-message *ngFor="let chatF of listMessage; let i=index" [message]="chatF" [index]="i"
(onClose)="onClose($event)"></form-message>