<div class="wrapper">
  <nav id="sidebar">
    <ul class="nav">
      <li class="nav-title">Theme</li>
      <li *ngFor="let item of navItems" [ngClass]="item.title ? 'nav-title' : 'nav-item'">
        <a href="javascript:void(0)" class="nav-link" [routerLink]="[ item.url ]" [routerLinkActive]="['active']" *ngIf="!item.title">
          <i class="nav-icon fa {{item.icon}}"></i>
          {{item.name | translate}}
        </a>
        <span *ngIf="item.title">{{item.name}}</span>
      </li>
    </ul>
  </nav>
  <div class="app-body w-100">
    <div id="admin-header" class="py-3 bg-secondary text-right overflow-hidden">
      <a href="javascript:void(0)" class="mr-3 text-white" (click)="logout()">Logout</a>
    </div>
    <!-- Main content -->
    <main class="main">
      <div class="container-fluid page-admin" style="position: relative;min-height: 605px;padding: 30px;">
        <lbp-loading-screen></lbp-loading-screen>
        <router-outlet></router-outlet>
      </div>
    </main>
    <div>
        <p class="copyright bg-secondary text-center py-1 text-white">Copyright © <span>Learning Simple</span> 2019-2019</p>
    </div>
  </div>
</div>