<div class="animated fadeIn">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-sm btn-default" (click)="previousState()">Quay lại</button>
                        <button id="jh-create-entity"
                                class="btn btn-sm btn-primary ml-2"
                                [routerLink]="['create']" *ngIf="statusCanNotEditAndDelete.indexOf(course.status) === -1">
                            <span [translate]="'lectureManagement.home.chapter.createLabel'">Tạo mới</span>
                        </button>
                    </div>
                    <div class="col-sm-2 col-lg-4"></div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="keyword" class="form-control rounded-0" (input)="search($event.target.value)"
                                   placeholder="Mã / Tên chuơng học..."/>
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="button" (click)="search()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <table class="table table-bordered" style="position: relative;" [el-loading]="loading">
                    <thead class="thead-dark text-center">
                    <tr>
                        <th *ngIf="currentAccount?.roleBOs.indexOf('ROLE_ADMIN') > -1">Duyệt</th>
                        <th>STT</th>
                        <th>Trạng thái</th>
                        <th [translate]="'lectureManagement.code'">code</th>
                        <th [translate]="'lectureManagement.name'">name</th>
                        <th [translate]="'lectureManagement.active'">Active</th>
                        <th [translate]="'lectureManagement.home.lecture.title'">Action</th>
                        <th [translate]="'lectureManagement.action'">Action</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="lectures?.length === 0">
                        <tr>
                            <td colspan="7" class="text-center">Bạn chưa tạo chuơng học.</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="lectures?.length > 0">
                    <tr *ngFor="let lecture of lectures;">
                        <td class="btn-action" *ngIf="currentAccount?.roleBOs.indexOf('ROLE_ADMIN') > -1">
                            <div *ngIf="course?.ticketFollowBy === currentAccount?.username && lecture?.status === CHECKING">
                                <button (click)="setStatus(lecture?.code, 'SUCCESS')" type="button" class="mb-1 btn btn-sm btn-success">Chấp nhận</button> <br>
                                <button (click)="setStatus(lecture?.code, 'ERROR')" type="button" class="btn btn-sm btn-danger">Loại bỏ</button>
                            </div>
                        </td>
                        <td>{{lecture.sortOrder}}</td>
                        <td>
                           <strong><span class="badge badge-danger">{{lecture.status | statusText}}</span></strong>
                        </td>
                        <td>{{lecture.code}}</td>
                        <td>{{lecture.name}}</td>
                        <td>
                            <label class="switch switch-label switch-success">
                                <input type="checkbox" class="switch-input" name="activated" [(ngModel)]="lecture.activated" (change)="setActive(lecture)">
                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <div class="btn-group flex-btn-group-container">
                                <button type="button" (click)="openModal(lecture)"
                                        class="btn btn-info btn-sm color-white">
                                    <span class="d-none d-md-inline" [translate]="'lectureManagement.detail.title'">detail</span>
                                    <strong>({{lecture?.totalLecture}})</strong>
                                </button>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="btn-group flex-btn-group-container">
                                <button type="button" class="btn btn-sm btn-info" (click)="openDialog(lecture?.code)">Tiến trình</button>
                                <button type="submit"
                                        [routerLink]="[ lecture.code, 'edit']"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm" *ngIf="statusCanNotEditAndDelete.indexOf(course.status) === -1 && statusCanNotEditAndDelete.indexOf(lecture.status) === -1">
                                    <span class="d-none d-md-inline" [translate]="'entity.action.edit'">Edit</span>
                                </button>
                                <button type="button" (click)="deleteLecture(lecture)"
                                        class="btn btn-danger btn-sm" *ngIf="statusCanNotEditAndDelete.indexOf(course.status) === -1 && statusCanNotEditAndDelete.indexOf(lecture.status) === -1">
                                    <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-end w-100" *ngIf="lectures && lectures.length > 0">
                <p-paginator [first]="(page - 1) * itemsPerPage" [totalRecords]="totalItems" [rows]="itemsPerPage" (onPageChange)="loadPage($event)"></p-paginator>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-dialog header="Danh sách tiến trình học viên" [(visible)]="isOpenDialog" [positionTop]="100" [style]="{width: '700px', height: '300px'}">
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark text-center">
                <tr>
                    <th>STT</th>
                    <th>Tài khoản</th>
                    <th>Tên</th>
                    <th>% hiện tại</th>
                    <th>Thời điểm hoàn thành</th>
                </tr>
            </thead>
            <tbody *ngIf="listUserProcess?.length === 0">
                <tr>
                    <td colspan="6" class="text-center">Chưa có học viên hoàn thành chương học nào.</td>
                </tr>
            </tbody>
            <tbody *ngIf="listUserProcess?.length > 0" class="text-center">
                <tr *ngFor="let lp of listUserProcess; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{lp.username}}</td>
                    <td>{{lp.name}}</td>
                    <td>{{lp.percentCompleted}}</td>
                    <td>{{lp.completedTime | date:'dd/MM/yyyy HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</p-dialog>