<div class="animated fadeIn" style="margin-bottom: 100px;">
    <div class="">
        <form name="editForm" role="form" novalidate
         (ngSubmit)="save()" [formGroup]="editForm" style="position: relative;"
         [el-loading]="loading">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div>
                        <div class="form-group" [hidden]="!lecture.id">
                            <input type="hidden" class="form-control" name="id" formControlName="id" readonly>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label [translate]="'lectureManagement.type'">type</label>
                                <ng-select [items]="types" bindValue="code" bindLabel="name" [multiple]="false"
                                    placeholder="Chọn thể loại..."
                                    [searchable]="false"
                                    (change)="updateType()"
                                    formControlName='type'  class="form-control" required>
                                    <ng-template ng-option-tmp let-item="item">
                                        {{item.name}}
                                    </ng-template>
                                </ng-select>
                                <div *ngIf="editForm.get('type').invalid && (editForm.get('type').dirty || editForm.get('type').touched) || isSaving && f['type'].errors">
                                    <small class="form-text text-danger"
                                    *ngIf="f['type'].errors.required" [translate]="'entity.validation.required'">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <fieldset class="form-group col-md-12" *ngIf="lecture.id">
                                <label [translate]="'lectureManagement.code'">code</label>
                                <div class="input-group">
                                    <input class="form-control" [placeholder]="'lectureManagement.create.placeholder.code' | translate" id="code" name="code" type="text" formControlName="code" [readOnly]="true">
                                </div>
                            </fieldset>
                            <fieldset class="form-group col-md-12">
                                <label [translate]="'lectureManagement.name'">name</label> 
                                <div class="input-group">
                                    <input class="form-control" id="name" [placeholder]="'lectureManagement.create.placeholder.name' | translate" name="name" type="text" formControlName="name">
                                </div>
                                <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched) || isSaving && f['name'].errors">
                                    <small class="form-text text-danger"
                                    *ngIf="f['name'].errors.required" [translate]="'entity.validation.required'">
                                        This field is required.
                                    </small>
                                </div>
                            </fieldset>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12" *ngIf="(lecture.id && lecture?.lectures?.length === 0 && editForm.get('type').value !== 'LECTURE_CHAPTER') || (!lecture.id && editForm.get('type').value && editForm.get('type').value !== 'LECTURE_CHAPTER')">
                                <label [translate]="'lectureManagement.parents'">parents</label>
                                <ng-select [items]="lectureParents" bindValue="code" bindLabel="name" [multiple]="false"
                                    placeholder="Chọn bài học..."
                                    [searchable]="false"
                                    (change)="updateSortOrder()"
                                    formControlName='parent'  class="form-control">
                                    <ng-template ng-option-tmp let-item="item">
                                        {{item.name}}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row">
                            <fieldset class="form-group col-md-6" *ngIf="editForm.get('type').value">
                                <label *ngIf="editForm.get('type').value && editForm.get('type').value === 'LECTURE_CHAPTER'" [translate]="'lectureManagement.chapterOrder'">sortOrder</label>
                                <label *ngIf="editForm.get('type').value && editForm.get('type').value !== 'LECTURE_CHAPTER'" [translate]="'lectureManagement.lectureOrder'">sortOrder</label>
                                <div class="input-group">
                                    <input class="form-control" id="sortOrder" [placeholder]="'lectureManagement.create.placeholder.sortOrder' | translate" name="sortOrder" type="number" formControlName="sortOrder">
                                </div>
                                <div *ngIf="editForm.get('sortOrder').invalid && (editForm.get('sortOrder').dirty || editForm.get('sortOrder').touched) || isSaving && f['sortOrder'].errors">
                                    <small class="form-text text-danger"
                                    *ngIf="f['sortOrder'].errors.required" [translate]="'entity.validation.required'">
                                        This field is required.
                                    </small>
                                </div>
                            </fieldset>
                            <fieldset class="form-group col-md-6" *ngIf="editForm.get('type').value === 'LECTURE_CHAPTER'">
                                <label [translate]="'courseManagement.create.placeholder.requiredCompleteRate'">requiredCompleteRate</label>
                                <div class="input-group">
                                    <input class="form-control" id="requiredCompleteRate" [placeholder]="'courseManagement.create.placeholder.requiredCompleteRate' | translate" name="requiredCompleteRate" type="number" formControlName="requiredCompleteRate">
                                </div>
                                <div *ngIf="editForm.get('requiredCompleteRate').invalid && (editForm.get('requiredCompleteRate').dirty || editForm.get('requiredCompleteRate').touched) || isSaving && f['requiredCompleteRate'].errors">
                                    <small class="form-text text-danger"
                                    *ngIf="f['requiredCompleteRate'].errors.required" [translate]="'entity.validation.required'">
                                        This field is required.
                                    </small>
                                </div>
                            </fieldset>
                        </div>
                        <div class="row py-3"></div>
                        <div class="row selectFile" *ngIf="editForm.get('type').value === 'LECTURE_VIDEO'">
                            <div class="col-md-6">
                                <div class="col-md-12 text-center">
                                    <img *ngIf="!selectedVideos && !lecture?.id" class="img-fluid" width="150" src="{{videoUrl}}" alt="Ảnh đại diện" />
                                    <div class="fileName" *ngIf="selectedVideos">{{videoUrl}}</div>
                                    <video *ngIf="lecture.id && !selectedVideos && lecture.videoUrl" src="{{lecture.videoUrl}}" width="300" height="200" controls></video>
                                </div>
                                <div class="col-md-12 text-center mt-3">
                                    <span class="btn btn-success btn-file">
                                        <strong [translate]="'lectureManagement.video'"></strong> 
                                        <i class="fa fa-camera" aria-hidden="true"></i>
                                        <input type="file" accept="video/*" class="form-control" name="imageFile" id="fileVideo" (change)="onVideoChange($event)">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" (click)='uploadFile.click()' class="btn btn-sm btn-success">Đính kèm
                                        tập tin</button>
                                <input type="file" (change)="onFileChange($event)" multiple #uploadFile hidden='true'>
                                <div *ngIf="selectedFiles">
                                    <table class="table table-bordered mt-1">
                                        <tbody>
                                          <tr *ngFor="let file of selectedFiles; let i=index;">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{file?.body?.name}}</td>
                                            <td>
                                                <div class="form-group">
                                                    <select class="form-control" name="fileType" [(ngModel)]="file.fileType" [ngModelOptions]="{standalone: true}">
                                                        <option *ngFor="let t of fileTypes" [value]="t.code">{{t.title}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <i class="fa fa-times" (click)="removeFileAttach(file?.body?.id, i)"></i>
                                            </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row py-3"></div>
                    </div>
                    <div class="row justify-content-end">
                        <button type="button" class="btn btn-secondary" (click)="previousState()">
                            <span [translate]="'entity.action.cancel'">Cancel</span>
                        </button>
                        <button type="submit" class="ml-2 btn btn-primary" [disabled]="isDisabledSave">
                            <span [translate]="'entity.action.save'">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>