<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3><span [translate]="'lectureManagement.home.chapter.title'"></span></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-sm btn-default" (click)="previousState()">Quay lại</button>
                                    <button id="jh-create-entity"
                                            class="btn btn-sm btn-primary ml-2"
                                            [routerLink]="['new']" *ngIf="statusCanNotEditAndDelete.indexOf(course.status) === -1">
                                        <span [translate]="'lectureManagement.home.chapter.createLabel'">Tạo mới</span>
                                    </button>
                                </div>
                                <div class="col-sm-2 col-lg-4"></div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="input-group" *ngIf="courseLectures?.length > 0">
                                        <input type="text" class="form-control" [(ngModel)]="keyword" (input)="search($event.target.value)"
                                               placeholder="..."/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="pi pi-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <h1 class="text-center text-danger" *ngIf="courseLectures?.length === 0">Không có chương học nào</h1>
                            <table class="table table-striped text-center" *ngIf="courseLectures?.length > 0">
                                <thead>
                                <tr>
                                    <th>Trạng thái</th>
                                    <th [translate]="'lectureManagement.code'">code</th>
                                    <th [translate]="'lectureManagement.name'">name</th>
                                    <!-- <th><span [translate]="'lectureManagement.active'">Active</span></th> -->
                                    <th [translate]="'lectureManagement.home.lecture.title'">Action</th>
                                    <th [translate]="'lectureManagement.action'">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let lecture of courseLectures;">
                                    <td>
                                       <strong><span class="badge badge-danger">{{lecture.status | statusText}}</span></strong>
                                    </td>
                                    <td>{{lecture.code}}</td>
                                    <td>{{lecture.name}}</td>
                                    <!-- <td>
                                        <button class="btn btn-danger btn-sm" (click)="setActive(lecture, true)"
                                                *ngIf="!lecture.activated"
                                                [translate]="'lectureManagement.deactivated'">Deactivated
                                        </button>
                                        <button class="btn btn-success btn-sm" (click)="setActive(lecture, false)"
                                                *ngIf="lecture.activated"
                                                
                                                [translate]="'lectureManagement.activated'">Activated
                                        </button>
                                    </td> -->
                                    <td class="text-center">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="button" (click)="openModal(lecture)"
                                                    class="btn btn-info btn-sm color-white">
                                                <span class="d-none d-md-inline" [translate]="'lectureManagement.detail.title'">detail</span>
                                                <strong>({{lecture.lectures?.length}})</strong>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    [routerLink]="[ lecture.code, 'view']"
                                                    class="btn btn-info btn-sm color-white">
                                                <span class="d-none d-md-inline" [translate]="'entity.action.view'">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="[ lecture.code, 'edit']"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-primary btn-sm" *ngIf="statusCanNotEditAndDelete.indexOf(course.status) === -1 && statusCanNotEditAndDelete.indexOf(lecture.status) === -1">
                                                <span class="d-none d-md-inline" [translate]="'entity.action.edit'">Edit</span>
                                            </button>
                                            <button type="button" (click)="deleteLecture(lecture)"
                                                    class="btn btn-danger btn-sm" *ngIf="statusCanNotEditAndDelete.indexOf(course.status) === -1 && statusCanNotEditAndDelete.indexOf(lecture.status) === -1">
                                                <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-center" *ngIf="courseLectures && courseLectures.length" class="w-100">
                            <p-paginator [totalRecords]="totalItems" [rows]="itemsPerPage" (onPageChange)="loadPage($event)"></p-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
