.card {
    width: 48%;
    min-height: 300px;
    .card-header {
        padding: 5px 0;
        text-align: center;
        text-transform: uppercase;
    }
}
h3 {
    text-align: center;
    margin: 15px 0;
}
:host ::ng-deep p-sidebar {
    .ui-sidebar-full {
        overflow-y: auto;
    }
}
.user-preview {
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}