<div class="my-course-title">
    <div class="container pl-4 pt-5 pb-2">
        <h1>Khóa học đã đăng ký</h1>
    </div>
</div>
<div class="container">
    <div *ngIf="!courses" class="row justify-content-center my-4">
        <div class="text-center">
            <p>Bạn chưa đăng ký khóa học nào!!</p>
            <img src="assets/images/main/enrollments_empty_state_active.png" alt="Trống">
            <br>
            <a [routerLink]="[ '/courses']" class="btn btn-primary">Tiếp tục?</a>
        </div>
    </div>
    <div *ngIf="courses">
        <div class="d-flex">
            <div class="card card-learning" *ngFor="let c of courses">
                <a href="javascript:void(0)" [routerLink]="[ '/course', c?.code ]">
                    <div class="card__image">
                        <img width="240" height="135" src="api/image/{{c?.imageId}}" alt="">
                    </div>
                </a>
                <a href="javascript:void(0)" [routerLink]="[ '/course', c?.code ]">
                    <div class="card-detail">
                        <strong class="details__name" title="{{c?.name}}"> {{c?.name}} </strong>
                        <div class="details__instructor">
                            <strong>{{c?.createdBy}}</strong>, <span >{{c?.sortDescription}}</span> 
                        </div>
                        <div class="details__bottom">
                            <span class="details__progress"> 
                                <span class="progress__bar completed" style="width: 100%;"> </span> 
                            </span>
                            <div class="progress__text">
                                <span>100% hoàn thành</span>
                            </div>
                            <span class="product-rating">
                                <div class="pro-rating">
                                    <i class="fa fa-star" *ngFor="let i of [].constructor(c?.rate)"></i><i class="fa fa-star-o" *ngFor="let j of [].constructor(5 - (c?.rate ? c?.rate : 1))"></i>
                                </div>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div *ngIf="courses && courses.length" class="w-100">
            <div class="d-flex justify-content-end">
                <!-- <pagination [totalItems]="totalItems" [(ngModel)]="+page" [itemsPerPage]="itemsPerPage" (pageChanged)="loadPage($event)" [maxSize]="5" [boundaryLinks]="true"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination> -->
            </div>
        </div>
    </div>
</div>