<div class="my-course-title">
    <div class="container pl-4 pt-5 pb-2">
        <h1>Khóa học đã đăng ký</h1>
    </div>
</div>
<div class="container">
    <div>
        <div class="card card-learning">
            <a href="">
                <div class="card__image">
                    <img width="240" height="135" src="https://i.udemycdn.com/course/240x135/405926_02c8_2.jpg" alt="">
                </div>
            </a>
            <a href="">
                <div class="card-detail">
                    <strong class="details__name"> HTML and CSS for Beginners - Build a Website &amp; Launch ONLINE </strong>
                    <div class="details__instructor">
                            Edwin Diaz<span >, Web Developer &amp; Premium Udemy Instructor - 400,000 students</span> 
                    </div>
                    <div class="details__bottom">
                        <span class="details__progress"> 
                            <span class="progress__bar completed" style="width: 100%;"> </span> 
                        </span>
                        <div class="progress__text">
                            <span>100% hoàn thành</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>