<!--********************
     Counter  part Start
    **********************-->
    <section id="counter_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                    <div class="counter_item">
                        <h3 class="counter">567</h3>
                        <h5>Teachers</h5>
                        <img src="../../../../assets/images/main/counterPartBorderBottom.png" alt="border Bottom">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                    <div class="counter_item">
                        <h3 class="counter">1758</h3>
                        <h5>Students</h5>
                        <img src="../../../../assets/images/main/counterPartBorderBottom.png" alt="border Bottom">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                    <div class="counter_item">
                        <h3 class="counter">102</h3>
                        <h5>Offline Courses</h5>
                        <img src="../../../../assets/images/main/counterPartBorderBottom.png" alt="border Bottom">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                    <div class="counter_item">
                        <h3 class="counter">57</h3>
                        <h5>Online Classes</h5>
                        <img src="../../../../assets/images/main/counterPartBorderBottom.png" alt="border Bottom">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--********************
     Counter  part end
    **********************-->