.dropdown-menu {
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 2px;
    border-top: 1px solid #e8e9eb;
    color: #505763;
    font-size: 13px;
    margin: 0;
    width: 270px;
    padding: 0;
    box-shadow: 0 4px 16px rgba(20,23,28,.25);
    .dropdown-menu_list {
        height: 100%;
        padding: 16px 0;
        .menu_link {
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #29303b;
                font-size: 15px;
                font-weight: 400;
                padding: 5px 15px;
            }
            span {
                flex: 1;
            }
            &:hover {
                > a {
                    background: #f2f3f5;
                    color: #007791;
                }
                > div.dropdown-menu-sub {
                    display: block;
                }
            }
        }
    }
    
}
.dropdown-menu-sub {
    left: 270px;
    background: #f7f8fa;
    top: -1px;
}
.dropdown.open.show {
    a.btn {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background: #fff;
        border: none;
        color: #2a73cc;
    }
}
.dropdown-menu {
    width: 200px;
}
.dropdown.open.show {
    background: #fff;
}
a {
    color: #505763;
}
.notification {
    cursor: pointer;
    i {
        margin: 27px 20px 0 0;
        position: relative;
        &::after {
            position: absolute;
            top: -8px;
            right: -3px;
            content: '1';
        }
    }
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:12px;
}
.dropdown ul.dropdown-menu:before {
content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}