<div class="course-banner" #banner [el-loading]="loading">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <course-banner-text [course]="course"
          [rateAvg]="rates[0]?.rateAvg"
          [rateAvgRound]="rateAvg" 
          [totalUserEnroll]="course?.totalUserEnroll"
          ></course-banner-text>
      </div>
      <div class="col-md-4">
          <course-preview 
          [userRegistration]="userRegistration"
          [course]="course"
          [lectureCode]="course?.lectures[0]?.lectures[0]?.code"
          [totalLectureQuiz]="totalLectureQuiz"
          [totalLectureVideo]="totalLectureVideo"
          [totalLectureExercise]="totalLectureExercise"
          [totalTimeEstimateVideo]="totalTimeEstimate() | minuteSeconds"
          (registerSuccess)="registerSuccess($event)"></course-preview>
      </div>
    </div>
  </div>
</div>
<div class="container" #container>
<div class="row">
  <div class="col-md-8">
    <div style="margin-top: 40px;">
        <div [ngClass]=" courseWillLearnMore ? 'collape-course-will-learn-more' : 'collape-course-will-learn'" #courseWillLearnE>
        <div class="what-you-get">
            <div class="what-you-get-card">
                <div class="inner">
                    <div class="what-you-get-content">
                        <div class="what-you-get-title ">
                          Mục tiêu
                        </div>
                        <ul class="what-you-get-items ">
                            <li class="what-you-get-item what-you-get-item-columns" *ngFor="let o of course?.objectiveSummaryBOs">
                                <span class="udi what-you-get-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <span class="what-you-get-text">{{o?.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <span *ngIf="!courseWillLearnMore && courseWillLearnElement?.nativeElement?.offsetHeight >= 301" class="wrapper-more-btn">
          <button (click)="courseWillLearnMore = true" class="more-btn btn-sm btn btn-link">+ See more</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
      <div style="margin-top: 40px;">
          
          <div>
              <div class="curriculum-header-container">
                  <div class="header-left">
                    <div class="curriculum-header-title">Nội dung</div>
                  </div>
                  <div class="header-right">
                    <span>
                      <a class="sections-toggle" href="javascript:void(0)"></a> 
                      <span class="dib">{{course?.lectures?.length}} chương học</span>
                    </span>
                    <span class="curriculum-header-length">{{totalTimeEstimate() | minuteSeconds}}</span>
                  </div>
                </div>
                <!--  -->
                <div *ngFor="let chapter of course?.lectures;let i = index;">
                    <a href="javascript:void(0)" class="accordion" (click)="toggleAccordian($event, i)">
                        <div class="section-header-left">
                          <span class="section-title-wrapper">
                            <span class="section-title-toggle">
                              <span class="section-title-toggle-plus">+</span>
                              <span class="section-title-toggle-minus">–</span>
                            </span>
                            <span class="section-title-text">{{chapter.sortOrder}}. {{chapter.name}}</span>
                          </span>
                        </div>
                        <div class="section-header-right">
                          <span class="num-items-in-section">{{chapter?.lectures?.length}} bài học</span>
                          <span class="section-header-length">{{totalChapterTimeEstimate(chapter.code) | minuteSeconds}}</span>
                        </div>
                    </a>
                    <div class="panel" hide="!chapter.isActive">
                      <div *ngFor="let lecture of chapter?.lectures" class="lecture-container">
                          <div class="left-content">
                              <span class="udi">
                                <i *ngIf="lecture.type === 'LECTURE_VIDEO'" class="fa fa-play-circle" aria-hidden="true"></i>
                                <i *ngIf="lecture.type === 'LECTURE_QUIZ'" class="fa fa-question-circle-o" aria-hidden="true"></i>
                              </span>
                              <div class="top">
                                  <div class="title">{{lecture.sortOrder}}. {{lecture.name}} </div>
                              </div>
                          </div>
                          <div class="details"><span class="content-summary" [hidden]="lecture.type !== 'LECTURE_VIDEO'">{{lecture.videoTimeEstimation | minuteSeconds}}</span></div>
                      </div>
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div style="margin-top: 40px;">
            <div class="requirements">
                <div class="requirements-title">
                    Yêu cầu 
                </div>
                <div class="requirements-content" *ngIf="course?.requirementBOs">
                    <ul class="requirements-list" *ngFor="let r of course?.requirementBOs">
                        <li class="requirements-item">{{r.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-8">
          <div style="margin-top: 40px;">
            <div [ngClass]=" descriptionMore ? 'collape-description-more' : 'collape-description'" #hh>
              <div class="description">
                <div class="description-title">
                  Mô tả
                </div>
                <div [innerHTML]="course?.description">
                    
                </div>
              </div>
              <span *ngIf="!descriptionMore && elementView?.nativeElement?.offsetHeight >= 260" class="wrapper-more-btn">
                <button (click)="descriptionMore = true" class="more-btn btn-sm btn btn-link">+ See more</button>
              </span>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div style="margin-top: 40px;">
          <course-reviews *ngIf="rates.length > 0" [rates]="rates" [rateAvg]="rates[0]?.rateAvg" [rateAvgRound]="rateAvg"></course-reviews>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="listCoursePopular?.length > 0">
        <div style="margin-top: 40px;" class="course-recommend owl-carousel-width">
          <p-carousel [value]="listCoursePopular" [numVisible]="4" [numScroll]="1" [circular]="true" [autoplayInterval]="10000">
            <ng-template let-data pTemplate="item">
                <course-list [course]="data"></course-list>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
</div>
<div #script></div>