@import '~font-awesome/css/font-awesome.min.css';
@import './assets/scss/global.scss';
@import '@ng-select/ng-select/themes/default.theme.css';
@import 'primeicons/primeicons.css';
@import 'primeng/resources/themes/nova-light/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';
.loading {
      
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ccc;
    opacity: 0.4;
  }
  .lds-ripple {
    position: relative;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: auto;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid black;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
.switch {
    display: inline-block;
    width: 40px;
    height: 26px;
    .switch-slider {
        position: relative;
        display: block;
        height: inherit;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #c8ced3;
        transition: .15s ease-out;
        border-radius: .25rem;
        &::before {
            position: absolute;
            top: 2px;
            left: 2px;
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            content: "";
            background-color: #fff;
            border: 1px solid #c8ced3;
            transition: .15s ease-out;
            border-radius: .125rem;
        }
        &::after {
            position: absolute;
            top: 50%;
            right: 1px;
            z-index: 1;
            width: 50%;
            margin-top: -.5em;
            font-size: 10px;
            font-weight: 600;
            line-height: 1;
            color: #c8ced3;
            text-align: center;
            text-transform: uppercase;
            content: attr(data-unchecked);
            transition: inherit;
        }
    }
}
.switch-label {
    width: 48px;
    .switch-input:checked~.switch-slider::before {
        -webkit-transform: translateX(22px);
        transform: translateX(22px);
    }
}
.switch-input {
    display: none;
}
.switch-success .switch-input:checked+.switch-slider {
    background-color: #4dbd74;
    border-color: #3a9d5d;
    &::before {
        border-color: #3a9d5d;
    }
    &::after {
        left: 1px;
        color: #fff;
        content: attr(data-checked);
    }
}
.modal-max {
  max-width: 1200px;
}