<div style="display: -webkit-box;">
    <div class="py-3" *ngIf="!isLecturePage">
        <button type="button" class="btn btn-sm btn-help mr-2" style="margin-top: 2px;" (click)="openChat = !openChat">
            <i class="fa fa-question-circle mt-1" aria-hidden="true"></i> Trợ giúp
        </button> 
        <button type="button" class="btn btn-sm btn-help" style="margin-top: 2px;" (click)="openListNotification($event, op)" [ngClass]="isNewNotification ? 'font-weight-bold' : ''">
            <i class="fa fa-bell" aria-hidden="true" [ngClass]="isNewNotification ? 'text-danger' : ''"></i> Thông báo
        </button>
    </div>
    <div  class="w-100 border-left py-4">
        <a class="text-center user-account dropdown-toggle btn-help px-3 py-2" href="javascript:void(0)"  style="position: relative;" (click)="menuAccount.toggle($event)">
                <i class="fa fa-user-circle-o mr-1" aria-hidden="true"></i> 
                <span *ngIf="currentAccount">{{currentAccount.name}}</span>
                <span *ngIf="!currentAccount">Tài khoản</span>
                <p-tieredMenu  #menuAccount [popup]="true" [model]="items"></p-tieredMenu>
        </a>
    </div>
</div>
<p-overlayPanel #op>
    <div style="position: relative;" [el-loading]="loading">
        <div *ngIf="listNotification.length === 0">Không có thông báo mới.</div>
        <div class="list-group" *ngIf="listNotification.length > 0">
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let noti of listNotification"
                (click)="openNotificationDetail(noti)">
                <span [ngClass]="noti?.isSeen === false ? 'text-danger font-weight-bold' : ''">{{noti?.title}}</span>
            </button>
        </div>
    </div>
</p-overlayPanel>
<form-chat [openListUserOnline]="openChat"></form-chat>
<p-dialog header="{{notiSelected?.title}}" [(visible)]="isOpenDialog" [positionTop]="100" [style]="{width: '800px'}">
    <div class="pl-3 mt-2">
        <div [innerHTML]="notiSelected?.content"></div>
    </div>
 </p-dialog>