a {
    color: #505763;
}
::ng-deep .user-account {
    .ui-tieredmenu {
        left: 0 !important;
        top: 45.7619px !important;
        width: 200px;
        border-radius: unset;
        text-align: left;
    }
}
:host ::ng-deep .ui-overlaypanel {
    top: 70px !important;
    width: 300px !important;
    left: 1146.86px !important;
    &::before, &::after {
        right: auto;
        left: 7.2em !important;
        border-width: 10px;
    }
}
.badge-notification {
    background: none;
    position: relative;
    margin-right: 10px;
    top: 25px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .badge-notification[data-badge]::after {
    content: attr(data-badge);
    position: absolute;
    top: -11px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 50%;
    background: #ff4081;
    color: #fff;
  }
  span.badge-notification {
    margin-right: 24px;
  }
  span.badge-notification[data-badge]::after {
    top: -11px;
    right: -24px;
  }