<div style="display: -webkit-box;"> 
    <button type="button" data-badge="1" (click)="op.toggle($event)" class="badge-notification" *ngIf="isShowNotification()"><i class="fa fa-bell" aria-hidden="true"></i></button>
    <div  class="w-100 dropdown pl-3 py-4">
        <a class="text-center user-account dropdown-toggle" href="javascript:void(0)"  style="position: relative;" (click)="menuAccount.toggle($event)">
                <i class="fa fa-user-circle-o mr-1" aria-hidden="true"></i> 
                <span *ngIf="currentAccount">{{currentAccount.name}}</span>
                <span *ngIf="!currentAccount">Tài khoản</span>
                <p-tieredMenu  #menuAccount [popup]="true" [model]="items"></p-tieredMenu>
        </a>
    </div>
</div>
<p-overlayPanel #op>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" *ngFor="let notifi of notifications"
        [routerLink]="[ '/course', notifi.courseCode, 'lecture', notifi.lectureCode ]" [queryParams]="{commentId: notifi.commentId}">
            {{notifi.createdBy}} đã phản hồi bình luận của bạn
        </button>
    </div>
</p-overlayPanel>