<div class="lecture-ex" style="position: relative;" [el-loading]="loading">
    <h3>Tệp bài tập</h3>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên tệp</th>
            <th scope="col">Điều kiện</th>
            <th scope="col">Nộp bài</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of exerciseFiles; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{file.fileName}}</td>
            <td>{{lecture.requiredCompleteRate}}%</td>
            <td>
                <button type="button" class="btn btn-sm btn-success">Tải về</button>
            </td>
            </tr>
        </tbody>
    </table>
    <div class="border p-2 mt-2" *ngIf="!exerciseSubmitted || exerciseSubmitted?.status === 'WAIT_CHECK' || exerciseSubmitted?.status === 'ERROR'">
        <input type="file" name="file" id="file" (change)="onFileChange($event)">
        <button type="button" class="btn btn-sm btn-primary pull-right" (click)="submitExercise()">Nộp bài</button>
    </div>
    <div class="border p-2" *ngIf="exerciseSubmitted">
        <p class="text-info">Lịch sử nộp: </p>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>{{exerciseSubmitted.fileName}}</td>
                    <td>{{exerciseSubmitted.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{exerciseSubmitted.score || 0}} đ</td>
                    <td [hidden]="exerciseSubmitted?.status !== 'CHECKING'">Đang kiểm tra</td>
                    <td [hidden]="exerciseSubmitted?.status !== 'SUCCESS'">Đạt</td>
                    <td [hidden]="exerciseSubmitted?.status !== 'ERROR'">Chưa Đạt</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success" (click)="downloadAttachment(exerciseSubmitted.fileUrl, exerciseSubmitted.fileName)">Tải về</button>
                        <button *ngIf="exerciseSubmitted?.content" type="button" (click)="exerciseSelected = exerciseSubmitted; op1.toggle($event)" class="ml-1 btn btn-warning btn-sm">Xem đánh giá</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 class="mt-2">Danh sách học viên đã nộp</h3>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
            <th scope="col">STT</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Tệp tin</th>
            <th scope="col">Ngày nộp</th>
            <th scope="col">Điểm</th>
            <th scope="col">#</th>
            </tr>
        </thead>
        <tbody *ngIf="listExercise.length === 0">
            <tr>
                <td colspan="5" class="text-center">Chưa có ai nộp</td>
            </tr>
        </tbody>
        <tbody *ngIf="listExercise.length > 0">
            <tr *ngFor="let ex of listExercise; let i=index">
            <th scope="row">{{i + 1}}</th>
            <td>{{ex.nameOfUser}}</td>
            <td>{{ex.fileName}}</td>
            <td>{{ex.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{ex.score}} đ</td>
            <td>
                <button *ngIf="ex.fileUrl" type="button" class="btn btn-sm btn-success" (click)="downloadAttachment(exerciseSubmitted.fileUrl, exerciseSubmitted.fileName)">Tải về</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>
<p-toast></p-toast>
<p-overlayPanel #op1>
    <div class="p-2">
    <p>{{exerciseSelected?.content}}</p>
    </div>
</p-overlayPanel>