<div class="animated fadeIn">
    <div class="row">
        <form class="col-12" name="editForm" enctype="multipart/form-data" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="row justify-content-center">
                
                <div class="col-8">
                    <div>
                        <div class="form-group" [hidden]="!permission.id">
                            <input type="text" class="form-control" name="id" formControlName="id" readonly>
                        </div>
        
                        <div class="row">
                            <fieldset class="form-group col-md-6">
                                <label [translate]="'permissionManagement.code'">code</label>
                                <div class="input-group">
                                    <input class="form-control" id="code" name="code" type="text" formControlName="code">
                                </div>
                                <div *ngIf="editForm.get('code').invalid && (editForm.get('code').dirty || editForm.get('code').touched) || isSaving && f['code'].errors">
                                    <small class="form-text text-danger"
                                    *ngIf="f['code'].errors.required" [translate]="'entity.validation.required'">
                                        This field is required.
                                    </small>
                
                                    <small class="form-text text-danger"
                                    *ngIf="f['code'].errors.pattern" [translate]="'entity.validation.patternLogin'">
                                        This field can only contain letters, digits and e-mail addresses.
                                    </small>
                                </div>
                            </fieldset>
                        </div>
                        <div class="row">
                            <fieldset class="form-group col-md-6">
                                <label [translate]="'permissionManagement.name'">name</label>
                                <div class="input-group">
                                    <input class="form-control" id="phone" name="name" type="text" formControlName="name">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <button type="button" class="btn btn-secondary" (click)="previousState()">
                            <span [translate]="'entity.action.cancel'">Cancel</span>
                        </button>
                        <button type="submit" class="ml-2 btn btn-primary">
                            <span [translate]="'entity.action.save'">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>